<!doctype html>
<html lang=zh-cn>
<head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
    <meta http-equiv=X-UA-Compatible content="ie=edge">
    <title>亿成优生鲜</title>
    <meta name=description
          content=菏泽亿成食品公司，是一个以主营冷冻产品有：鸡产品、鸭产品、猪产品、水产品、调理品、火锅料类产品，六大系列共计500多个品项。截止2015年，公司累计为社会提供了超过20万吨健康放心的冷冻食品。>
    <meta name=keywords content=冷冻肉食品,鸡鸭分割系列产品,火锅底料,菏泽亿成食品有限公司>
    <meta name=author content=m.yanjina.top>
    <meta http-equiv=Content-Type content="text/html; charset=GBK">
    <meta name=applicable-device content=mobile>
    <meta name=apple-mobile-web-app-capable content=yes>
    <meta name=apple-mobile-web-app-status-bar-style content=black>
    <meta name=format-detection content="telephone=no">
    <meta name=wap-font-scale content=no>
    <meta http-equiv=Expires content=-1>
    <meta http-equiv=Cache-Control content=no-cache>
    <meta http-equiv=Cache-Control content=no-siteapp>
    <meta http-equiv=Cache-Control content=no-transform>
    <meta http-equiv=Pragma content=no-cache>
    <link href=M/static/css/app.dced4389aead999ccb180aced64caa27.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script src="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js"></script>
<script type=text/javascript src=M/static/js/manifest.2ae2e69a05c33dfc65f8.js></script>
<script type=text/javascript src=M/static/js/vendor.6ba4b551f60fb894ce9a.js></script>
<script type=text/javascript src=M/static/js/app.f3c0c2666bbf74744d82.js></script>
</body>
</html>