<footer>
    <div class="footer-top">
        <div class="">
            <a href="" class="footer-top-div">
                <div class="footer-top-div-left">预算不足没关系，</div>
                <div class="footer-top-div-center">
                    <img src="http://www.ilqiqi.top/images/mYC/index/Here_1.png" alt="">
                    <div class="footer-top-div-center-div1">
                        <img src="http://www.ilqiqi.top/images/mYC/index/Here_2.png" alt="">
                    </div>
                    <div class="footer-top-div-center-div2">
                        <img src="http://www.ilqiqi.top/images/mYC/index/Here_2.png" alt="">
                    </div>
                </div>
                <div class="footer-top-div-right1"></div>
                <div class="footer-top-div-rifht2">
                    <i class="iconfont icon-right-trangle"></i>
                </div>
            </a>
        </div>

    </div>
    <div class="footer-bottom">
        <div class="clearfix footer-bottom-div">
            <div class="footer-bottom-div-left">
                <div class="clearfix footer-bottom-left-div">
                    <div class="footer-bottom-address">
                        <i class="iconfont icon-loufang"></i>
                    </div>
                    <div class="footer-bottom-left-bottom">
                        <p class="address-phone">0531-8888888</p>
                        <p class="address-list">项目部地址：山东省济南市高新区齐鲁软件园</p>
                    </div>
                </div>
                <div class="clearfix footer-bottom-left-div">
                    <div class="footer-bottom-address">
                        <i class="iconfont icon-dalou"></i>
                    </div>
                    <div class="footer-bottom-left-bottom">
                        <p class="address-phone">010-8888888</p>
                        <p class="address-list">科研部地址：北京市海定区中关村软件园</p>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-div-right">
                <div class="right-list1">
                    <ul>
                        <li><a href="">人才招聘</a><span class="line">|</span></li>
                        <li><a href="">网站地图</a><span class="line">|</span></li>
                        <li><a href="">常见问题</a><span class="line">|</span></li>
                        <li><a href="">隐私条款</a><span class="line">|</span></li>
                        <li><a href="">联系我们</a></li>
                    </ul>
                </div>
                <div class="right-list2">
                    <ul>
                        <li>KEYWORD：</li>
                        <li><a href=""><span>企业网站建设</span><span class="line">|</span></a></li>
                        <li><a href=""><span>高端网站建设</span><span class="line">|</span></a></li>
                        <li><a href=""><span>山东网站建设</span><span class="line">|</span></a></li>
                        <li><a href=""><span>小程序开发</span><span class="line">|</span></a></li>
                        <li><a href=""><span>APP开发</span><span class="line">|</span></a></li>
                        <li><a href=""><span>微信开发</span><span class="line">|</span></a></li>
                        <li><a href=""><span>微信营销定制</span><span class="line">|</span></a></li>
                        <li><a href=""><span>手机网站</span><span class="line">|</span></a></li>
                        <li><a href=""><span>网页设计</span><span class="line">|</span></a></li>
                        <li><a href=""><span>高端网站定制</span><span class="line">|</span></a></li>
                        <li><a href=""><span>营销网站建设</span></a></li>
                    </ul>
                </div>
                <div class="right-list3">
                    <ul>
                        <li class="">
                            友情链接:
                        </li>
                        <li>
                            <a href="http://www.ilqiqi.top/" class="">
                                <span>江沐科技</span>
                                <span class="line">|</span>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.yanjina.top" class="">
                                <span>水汪汪科技</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-share">
            <div class="footer-share-div">
                <i class="iconfont icon-qq" title="分享到QQ空间"></i>
                <i class="iconfont icon-gongzhonghao" title="分享到微信朋友圈"></i>
                <i class="iconfont icon-weibo" title="分享到微博"></i>
            </div>
        </div>
        <div class="bottom-address-div">

            <p class="bottom-address-address-p">备案号：鲁ICP备19024660号 Copyright © 2018 All Rights Reserved</p>
        </div>
    </div>

</footer>