<header>
    <div class="indexHeader-left">
        <div class="">
            <img src="../index/img/indexLogo.png" alt="">
        </div>
        <div class="">
            <span class="young-energetic">专业年轻有活力</span>
            <span class="Internet-application-service-provider">互联网应用服务商</span>
        </div>
    </div>
    <div class="indexHeader-right">
        <ul>
            <li >
                <a href="/" class="headerRed">首页</a>
                <span>/</span>
            </li>
            <li>
                <a href="/ycysx" class="">网站建设</a>
                <span>/</span>
            </li>
            <li class="WXKF">
                <a href="" >微信开发</a>
                <span>/</span>
                <div class="weChatDevelopment">
                    <a class="" href="">
                        <i class="iconfont icon-xiaochengxu"></i>
                        <span>小程序开发</span>
                    </a>
                    <a class="" href="">
                        <i class="iconfont icon-tiyucaipiao"></i>
                        <span>服务号开发</span>
                        <span>订阅号开发</span>
                    </a>
                    <a class="" href="">
                        <i class="iconfont icon-icon"></i>
                        <span>企业微信定制</span>
                    </a>
                </div>
            </li>
            <li>
                <a href="/" class="">APP</a>
                <span>/</span>
            </li>
            <li class="MobileWWW">
                <a href="/MobileYSX" class="">手机站</a>
                <span>/</span>
                <div class="MobileStation">
                    <a class="" href="/MobileYSX">
                        <i class="iconfont icon-xiaochengxu"></i>
                        <span>手机网站</span>
                    </a>
                    <a class="" href="http://www.ilqiqi.top/">
                        <i class="iconfont icon-tiyucaipiao"></i>
                        <span>响应式网站</span>
                    </a>
                    <a class="" href="/PCYSX">
                        <i class="iconfont icon-icon"></i>
                        <span>自适应网站</span>
                    </a>
                </div>
            </li>
            <li>
                <a href="/HTSystem" class="">管理系统</a>
                <span>/</span>
            </li>
            <li class="about-US">
                <a href="/" class="">关于水汪汪</a>
                <div class="AboutUs">
                    <a class="" href="">
                        <i class="iconfont icon-jianjie"></i>
                        <span>公司简介</span>
                    </a>
                    <a class="" href="">
                        <i class="iconfont icon-kehu"></i>
                        <span>知名客户</span>
                    </a>
                    <a class="" href="">
                        <i class="iconfont icon-jiangbei"></i>
                        <span>荣誉资质</span>
                    </a>
                    <a class="" href="">
                        <i class="iconfont icon-liucheng"></i>
                        <span>服务流程</span>
                    </a>
                    <a class="" href="">
                        <i class="iconfont icon-pinglun"></i>
                        <span>本站观点</span>
                    </a>
                    <a class="" href="">
                        <i class="iconfont icon-duihuakuang"></i>
                        <span>项目动态</span>
                    </a>
                    <a class="" href="">
                        <i class="iconfont icon-xiaochengxu"></i>
                        <span>公司新闻</span>
                    </a>
                    <a class="" href="">
                        <i class="iconfont icon-tangxueyuan"></i>
                        <span>网上学院</span>
                    </a>
                    <a class="" href="">
                        <i class="iconfont icon-help"></i>
                        <span>常见问题</span>
                    </a>
                    <a class="" href="">
                        <i class="iconfont icon-dianhua1"></i>
                        <span>联系我们</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="left-nav">
        <div class="left-nav-div"
             id="GoBackTop"
             style="line-height: 30px;background-color: #d90000; color: #ffffff">
            <i class="iconfont icon-xiangshang"></i>
            <p style="font-size: 12px;margin-left:10px ">返回顶部</p>
        </div>
        <div class="left-nav-div  qq">
            <i class="iconfont icon-qq"></i>
            <div class="left-nav-div-qq">
                <p class="clickMe">
                    要咨询，点击我吧
                </p>
            </div>
        </div>
        <div class="left-nav-div  help">
            <i class="iconfont icon-help"></i>
            <div class="left-nav-div-help">
                <h3 style=" font-size: 20px">常见问题</h3>
                <a href="">1.关于优网科技新版官网上线的通知！</a>
                <a href="">2.优网科技为你解读——《移动搜索建站优...</a>
                <a href="">3.APP开发:性能优化建议，全面提升移动用...</a>
                <a href="">4.用户操作失败反馈设计背后的逻辑,你知...</a>
                <a href=""> 5.网站建设完成上线就完事了?后期的维护</a>
            </div>
        </div>
        <div class="left-nav-div phone">
            <i class="iconfont icon-dianhua1"></i>
            <div class="left-nav-div-phone">
                <div class="left-nav-div-phone-top">
                    <div class="left-nav-div-phone-top-left">
                        <i class="iconfont icon-dianhua"></i>
                    </div>
                    <div class="left-nav-div-phone-top-right">
                        <p>济南总部电话</p>
                        <p>0531-8888888</p>
                    </div>
                </div>
                <div class="left-nav-div-phone-top">
                    <div class="left-nav-div-phone-top-left">
                        <i class="iconfont icon-shoujichongzhi"></i>
                    </div>
                    <div class="left-nav-div-phone-top-right">
                        <p>北京总部电话</p>
                        <p>0531-8888888</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="left-nav-div ewm">
            <i class="iconfont icon-erweima"></i>
            <div class="left-nav-div-ewm ">
                <div class="left-nav-div-ewm-top">
                    <img src="../index/img/ewm1.png" alt="">
                    <p class="">关注水汪汪</p>
                </div>
                <div class="left-nav-div-ewm-bottom">
                    <img src="../index/img/ewm2.png" alt="">
                    <p class="">水汪汪站</p>
                </div>
            </div>
        </div>
        <div class="left-nav-div"
             style="line-height: 30px;padding-top: 10px">
            <i class="iconfont icon-right-trangle"></i>
            <p style="font-size: 14px " id="closeKJ">收起快捷</p>
            <p style="font-size: 14px;display: none" id="openKJ">展开快捷</p>
        </div>
    </div>
    <div class="right-nav">
        <div class="right-nav-left">
            <p>在线</p>
            <p>咨询</p>
        </div>
        <div class="right-nav-right">
            <i class="iconfont icon-right-trangle"></i>
            <i class="iconfont icon-right-trangle"></i>
        </div>
    </div>
</header>