<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>水汪汪网络科技股份有限公司</title>
    <link rel="stylesheet" type="text/css" href="../index/css/base.css">
    <link rel="stylesheet" type="text/css" href="../index/css/index.css">
    <link rel="stylesheet" type="text/css" href="../index/icon/iconfont.css">
</head>
<body>
<% include A-header %>
<!--end of header-->
<main>
    <section class="clearfix index-banner">
        <div class="index-banner-top">
            <div class="index-banner-top-arrows">
                <div class="left" id="banner-left"><</div>
                <div class="right" id="banner-right">></div>
            </div>
            <ul class="banner-ul"></ul>
            <ol class="banner-ol"></ol>
        </div>
    </section>
    <section class="index-myBusiness">
        <div class="index-myBusiness-div">
            <div class="index-myBusiness-top">
                <h2>我们的业务</h2>
                <h3>多维度、多平台开发体系，开启互联网营销和管理新模式</h3>
            </div>
            <div class="clearfix index-myBusiness-bottom">
                <div class="myBusiness-div">
                    <div class="myBusiness-div-top">
                        <img src="http://www.ilqiqi.top/images/mYC/index/icon1.png" alt="">
                    </div>
                    <div class="myBusiness-div-center">
                        <h3 class="">网站建设</h3>
                        <h4 class="">WEBSITE BUILDING</h4>
                    </div>
                    <div class="myBusiness-div-bottom">
                        <ul>
                            <li><a href="" class="">品牌展示网站 </a></li>
                            <li><a href="" class=""> 官方门户网站 </a></li>
                            <li><a href="" class=""> 企业营销网站 </a></li>
                            <li><a href="" class=""> 电子商务平台 </a></li>
                            <li><a href="" class=""> 信息门户系统 </a></li>
                            <li><a href="" class=""> 集团站群系统</a></li>
                            <li><a href="" class="">  3D虚拟仿真</a></li>
                        </ul>
                    </div>

                </div>
                <div class="myBusiness-div">
                    <div class="myBusiness-div-top">
                        <img src="http://www.ilqiqi.top/images/mYC/index/icon2.png" alt="">
                    </div>
                    <div class="myBusiness-div-center">
                        <h3 class="">微信开发</h3>
                        <h4 class="">WECHAT MARKETING</h4>
                    </div>
                    <div class="myBusiness-div-bottom">
                        <ul>
                            <li><a href="" class="">小程序定制 </a></li>
                            <li><a href="" class=""> 服务号/订阅号定制 </a></li>
                            <li><a href="" class=""> 企业微信定制 </a></li>
                        </ul>
                    </div>

                </div>
                <div class="myBusiness-div">
                    <div class="myBusiness-div-top">
                        <img src="http://www.ilqiqi.top/images/mYC/index/icon3.png" alt="">
                    </div>
                    <div class="myBusiness-div-center">
                        <h3 class="">移动端开发</h3>
                        <h4 class="">MOBILE END</h4>
                    </div>
                    <div class="myBusiness-div-bottom">
                        <ul>
                            <li><a href="" class="">手机网站 </a></li>
                            <li><a href="" class=""> 自适应网站 </a></li>
                            <li><a href="" class=""> 响应式网站 </a></li>
                            <li><a href="" class=""> APP开发 </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="We-viewpoint">
        <div class="We-viewpoint-title">
            <h2>我们的观点</h2>
            <h3>专业团队，品质服务！</h3>
        </div>
        <div class="We-viewpoint-content">
            <a href="" class="We-viewpoint-content-a">
                <h3>我们提供专业的解决方案，同样我们也注重你的体验！</h3>
                <div class="p">
                    <p>专业来源于多年的积累，用心让我们做到更好，</p>
                    <p>放心和称心是我们期望给你的体验！</p>
                    <p>你感受到的才叫专业！</p>
                </div>
                <div class="icon-div">
                    <div class="iconfont icon-right-trangle"></div>
                </div>
            </a>
        </div>
    </section>
</main>
<% include A-footer.ejs %>
<!--end of footer-->
<script type="application/javascript" src="../index/js/jquery.min.js"></script>
<script type="application/javascript" src="../index/js/index.js"></script>
</body>
</html>