.userinfos-main{
    height: 900px;
    background-color: #f0f0f0;
}
.userinfos-main-top{
    width: 990px;
    height: 200px;
    margin: 0 auto;
    border: 1px solid #999999;
    background-color: #FFFFff;
}
.userinfos-main-top-avatar{
    width: 150px;
    height: 178px;
    float: left;
    margin-top: 20px;
    padding-left: 50px;
    border: 1px solid #f0f0f0;
}

.userinfos-main-top-avatar-p{
    width: 100px;
    height:100px;
}

.userinfos-main-top-avatar-p img {
    display: block;
    width: 100%;

}

.userinfos-main-top-avatar .icon-zhaoxiangji{
    display: block;
    font-size: 500%;
    width: 100px;
    height: 50px;
    line-height: 60px;
    margin-top: -15px;
    text-align: center;
   color: #999999;

}

#imgbtn{
    width: 100px;
    height: 20px;
    line-height: 20px;
    background-color: crimson;
    color: #FFFFff;
}

.userinfos-main-top-infos{
    width: 200px;
    height: 180px;
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    line-height: 25px;
    border: 1px solid #f0f0f0;
}
.userinfos-main-top-infos button{
    width: 180px;
    margin-left: 10px;
    background-color: #DF3033;
    color: #FFFFff;
}

.number2{
    display: none;
}

.userinfos-main-top-goodsorder{
    width: 540px;
    height: 178px;
    margin-top: 20px;
    float: left;
    border: 1px solid #f0f0f0;
    margin-left: 10px;

}

.userinfos-main-top-goodsorder a{
    display: block;
    float: left;
    width: 20%;
    height: 88px;
    text-align: center;
    line-height: 22px;
    padding-top: 10px;

}


.userinfos-main-top-goodsorder a i {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin: 0 auto;

}
.userinfos-main-top-goodsorder .icon-quxiaodingdan
{
    font-size: 300%;
    color: #61AFFF;

}
.userinfos-main-top-goodsorder .icon-weifukuan
{
    font-size: 300%;
    color: #B46CF6;

}
.userinfos-main-top-goodsorder .icon-fukuan1
{
    font-size: 300%;
    color: #00DD85;

}
.userinfos-main-top-goodsorder .icon-dengdai-copy
{
    font-size: 300%;
   color: plum;

}

.userinfos-main-top-goodsorder .icon-shouhuo
{
    font-size: 300%;
   color: yellowgreen;

}
.userinfos-main-top-goodsorder .icon-yijingguanbi
{
    font-size: 300%;
    color: #DF3033;

}
.userinfos-main-top-goodsorder .icon-tuihuotuikuan
{
    font-size: 300%;
   color: orange;

}
.userinfos-main-top-goodsorder .icon-ccgl-tuihuosunyi-7
{
    font-size: 300%;
    color: plum;

}
.userinfos-main-top-goodsorder .icon-chulizhong
{
    font-size: 300%;
   color: blueviolet;

}

.userinfos-main-top-goodsorder .icon-pingjia-copy
{
    font-size: 300%;
  color: fuchsia;

}

/*顶部结束*/


/*中间开始*/

.userinfos-main-center{
    width: 990px;
    height: 400px;
    background-color: #00DD85;
    margin: 0 auto;
    margin-top: 20px;
}

.userinfos-main-center-top{
    height: 40px;
    border-bottom: 2px solid #999999;

}

.userinfos-main-center-top a:first-child{
    margin-top: 15px;
    float: left;
    margin-left: 30px;
    font-size: 18px;


}

.userinfos-main-center-top a:last-child{
    margin-top: 15px;
    float: right;
    margin-right: 30px;
    font-size: 18px;


}








