<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="description" content="亿成优生鲜(www.yanjina.top)亿成优生鲜鲁西南唯一官方网上生鲜商城，中国领先的专业生鲜网购平台.7大系列产品，鸡、鸭分割系列、猪系列、水产品、调理品、火锅产品、面点等7大系列1000种商品；更低价格，更快送达，为您提供便捷、诚信的服务.">
    <meta name="Keywords" content="亿成,亿成优生鲜,生鲜,生鲜官方旗舰店,生鲜网上商城,鸡,鸭分割系列,猪系列,水产品,调理品,火锅产品,面点">
    <meta property="qc:admins" content="2500556177677556375636">
    <meta name="applicable-device" content="pc">
    <meta name="data-code" content="sy">
    <meta http-equiv="mobile-agent"  content="format=xhtml; url=//m.yanjina.top">
    <meta http-equiv="mobile-agent"  content="format=html5; url=//m.yanjina.top">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Access-Control-Allow-Origin" content="//">
    <title>商品详情页面</title>
    <link rel="stylesheet" type="text/css" href="../css/base.css">
    <link rel="stylesheet" type="text/css" href="../css/icon/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../css/goodsdateils.css">
</head>
<body>
<header>
    <div class="topbaner">
        <img class="w topbaner-img" src="../img/header/sx.jpg" alt="">
        <a href="javascript:;" class="closetop"></a>
    </div>
    <div class="navbar">
        <div class="w nav">
            <div class="fl nav">
                <div class="dnl">
                    <i class="iconfont icon-dizhi"></i>
                    <span >到北京</span>
                    <div class="select-address">
                        <span class="item">北京</span>
                        <span class="item">天津</span>
                        <span class="item">重庆</span>
                        <span class="item">上海</span>
                        <span class="item">山西</span>
                        <span class="item">河北</span>
                        <span class="item">河南</span>
                        <span class="item">辽宁</span>
                        <span class="item">吉林</span>
                        <span class="item">黑龙江</span>
                        <span class="item">内蒙古</span>
                        <span class="item">江苏</span>
                        <span class="item">山东</span>
                        <span class="item">安徽</span>
                        <span class="item">浙江</span>
                        <span class="item">福建</span>
                        <span class="item">湖北</span>
                        <span class="item">湖南</span>
                        <span class="item">广东</span>
                        <span class="item">广西</span>
                        <span class="item">江西</span>
                        <span class="item">四川</span>
                        <span class="item">海南</span>
                        <span class="item">贵州</span>
                        <span class="item">云南</span>
                        <span class="item">西藏</span>
                        <span class="item">陕西</span>
                        <span class="item">甘肃</span>
                        <span class="item">青海</span>
                        <span class="item">宁夏</span>
                        <span class="item">新疆</span>
                        <span class="item">港澳</span>
                        <span class="item">台湾</span>
                        <span class="item">钓鱼岛</span>
                        <span class="item">海外</span>
                    </div>
                </div>
            </div>
            <ul class="fr nav">
                <li>
                    <a href="/loginregister">你好，请登录</a>&nbsp;&nbsp;
                    <a style="color:red " href="/loginregister" >免费注册</a>
                </li>
                <li class="line"></li>
                <li class="fore">
                    <a href="">我的订单</a>
                </li>
                <li class="line"></li>
                <li class="fore" id="myyc">
                    <a href="/ycysx/userinfos">我的亿成</a>
                    <i class="iconfont icon-down-trangle1" ></i>
                    <ul class="myyc">
                        <li><a href="">待处理订单</a></li>
                        <li><a href="">退货换货</a></li>
                        <li><a href="">降价生鲜</a></li>
                        <li><a href="">我的关注</a></li>
                        <li><a href="">我的优惠券</a></li>
                        <li><a href="">物流消息</a></li>
                    </ul>
                </li>
                <li class="line"></li>
                <li class="fore">
                    <a href="">亿成会员</a>
                </li>
                <li class="line"></li>
                <li class="fore">
                    <a href="">企业采购</a>
                </li>
                <li class="line"></li>
                <li class="fore"  id="khfw">
                    <a href="">客户服务 </a>
                    <i class="iconfont icon-down-trangle1" ></i>
                    <ul class="khfw">
                        <li><a href="">帮助中心</a></li>
                        <li><a href="">售后服务</a></li>
                        <li><a href="">在线客服</a></li>
                        <li><a href="">电话客服</a></li>
                        <li><a href="">客服邮箱</a></li>
                        <li><a href="">电话客服</a></li>
                        <li><a href="">意见建议</a></li>
                        <li><a href="">商家帮助</a></li>
                        <li><a href="">规则平台</a></li>
                    </ul>
                </li>
                <li class="line"></li>
                <li class="fore" id="wzdh">
                    <a href="" >网站导航</a>
                    <i class="iconfont icon-down-trangle1" ></i>
                    <ul class="wzdh">
                        <li><a href="">牛肉产品</a></li>
                        <li><a href="">羊肉产品</a></li>
                        <li><a href="">猪肉产品</a></li>
                        <li><a href="">鸡肉产品</a></li>
                        <li><a href="">鸭肉产品</a></li>
                        <li><a href="">火锅产品</a></li>
                        <li><a href="">调料产品</a></li>
                        <li><a href="">特价产品</a></li>
                        <li><a href="">进口产品</a></li>
                        <li><a href="">鲁西南特产</a></li>
                        <li><a href="">货到付款</a></li>
                        <li><a href="">服务中心</a></li>
                    </ul>
                </li>
                <li class="line"></li>
                <li class="fore" id="sjyc">
                    <a href="">手机亿成</a>
                    <ul class="sjyc">
                        <li class="khd">
                            <div class="sjyc-left khdewm"></div>
                            <div class="sjyc-reght">
                                <a class="asjyc" href="" >手机亿成</a>
                                <span>新人大礼包</span>
                                <div>
                                    <div class="ios"><a href=""></a></div>
                                    <div class="android"><a href=""></a></div>
                                    <div class="ipad"><a href=""></a></div>
                                </div>
                            </div>
                        </li>
                        <li class="gzh">
                            <div class="sjyc-left gzhewm"></div>
                            <div class="sjyc-reght">
                                <a class="asjyc">关注亿成微信</a><br>
                                <span>
                                    微信扫一扫关注
                                    新粉最高180元
                                    惊喜礼包
                                </span>
                            </div>
                        </li>
                        <li class="xcx">
                            <div class="sjyc-left" xcxewm></div>
                            <div class="sjyc-reght">
                                <a class="asjyc">亿成小程序</a><br>
                                <span>新人大礼包</span>
                                <div>
                                    <div class="ios"><a href=""></a></div>
                                    <div class="android"><a href=""></a></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="w header-bottom">
        <div class="yclogo">
            <h2 href="/ycysx">亿成优生鲜</h2>
        </div>
        <div class="search-bar">
            <input type="text" name="" placeholder="生鲜开抢" class="bottomsearch">
            <label class="search-bar-camera">
                <input type="file" id="search-bar-camera-input">
                <i class="iconfont icon-zhaoxiangji" ></i>
            </label>
            <button  type="submit"><i class="iconfont icon-sousuo"></i></button>
        </div>
        <div class="shopping-chart">
            <i class="iconfont icon-gouwuche1"></i>
            <span class="my-shopping-cart">我的购物车</span>
            <span class="goods-count">0</span>
        </div>
        <div class="ewm"></div>
        <div class="top-search-queries">
            <a style="color: red" href="">山羊肉</a>
            <a href="">牛排</a>
            <a href="">猪后腿肉</a>
            <a href="">鸡腿</a>
            <a href="">鸭脯肉</a>
            <a href="">火锅丸子</a>
            <a href="">速冻水饺</a>
            <a href="">精装挂面</a>
            <a href="">优质面粉</a>
        </div>
        <div class="bottom-navbar">
            <a style="color: red" href="">秒杀</a>
            <a href="">优惠券</a>
            <a href="">闪购</a>
            <a href="">鲁西南特产</a>
            <a href="">线下超市</a>
            <a href="">冷冻食品</a>
            <a href="">海鲜水产</a>
            <a href="">粮油调味</a>
            <a href="">货到付款</a>
        </div>
        <a class="welcome" href="/ycysx"></a>
    </div>
    <div class="header-floatsearch">
        <div class="w header-floatsearch-main">
            <div class="header-floatsearch-main-logo"></div>
            <div class="header-floatsearch-main-search">
                <input type="text" name="" placeholder="生鲜开抢" class="inputfirst">
                <label class="header-floatsearch-main-search-camera">
                    <input type="file" class="search-bar-camera-input">
                    <i class="iconfont icon-zhaoxiangji" ></i>
                </label>
                <button  type="submit"><i class="iconfont icon-sousuo"></i></button>
            </div>
        </div>
    </div>
</header>
<main class="goodsdatails-main">
    <section class="w clearfix goodsdatails-main-top">
        <div class="goodsdatails-main-top-left">
            <div class="goodsdatails-main-top-left-big" id="left-big">
                <div class="goodsdatails-main-top-left-bigimgs" id="smallimgs">

                </div>
                <div class="fangda">
                    <i class="iconfont icon-sousuo"></i>
                </div>
                <div class="mask" id="mask"></div>
            </div>
            <div class="goodsdatails-main-top-left-small">
                <div class="top-left-small-left" id="ileft">
                    <i class="iconfont icon-left-trangle"></i>
                </div>
                <div class="top-left-small-center">
                    <div class="top-left-small-centerlist" id="firstul"></div>
                </div>
                <div class="top-left-small-right" id="iright">
                    <i class="iconfont icon-right-trangle"></i>
                </div>
            </div>
            <div class="goodsdatails-main-top-left-share">
                <div class="">
                    <i class="iconfont icon-heart"></i>
                    <a href="" class="">关注</a>
                </div>
                <div class="">
                    <i class="iconfont icon-wujiaoxing"></i>
                    <a href="" class="">分享</a>
                </div>
                <div class="">
                    <i class="iconfont icon-icon"></i>
                    <a href="" class="">举报</a>
                </div>
            </div>
        </div>
        <div class="goodsdatails-main-top-center">
            <div class="goodsdatails-main-top-center-title"></div>
            <div class="goodsdatails-main-top-center-price"></div>
            <div class="goodsdatails-main-top-center-address">
                <div class="goodsdatails-main-top-center-address-top">
                    <span class="">配送至：</span>
                    <span id="sheng">山东</span>
                    <span id="shi">济宁</span>
                    <span id="xian">市中区</span>
                    <i class="iconfont icon-down-trangle" id="dowselect"></i>
                    <div class="selectbox" id="selectbox"></div>
                    <span class="havegoods">有货</span>
                    <span class="payfree">在线支付免运费</span>
                </div>
            </div>
            <div class="goodsdatails-main-top-center-number">
                <span>数量:</span>
                <div class="addminus">
                    <span id="addminus-minus">-</span>
                    <span id="addminus-nub">1</span>
                    <span id="addminus-add">+</span>
                </div>
            </div>
            <div class="goodsdatails-main-top-center-buy">
                <a href="javascript:void(0);" id="BayNow">立即购买</a>
                <a href="javascript:void(0);" id="AddCart">加入购物车</a>
            </div>
            <div class="goodsdatails-main-top-center-day">
                <span>温馨提示·</span>
                <span>不支持7天无理由退货</span>
            </div>
        </div>
    </section>
    <section class="w goodsdatails-main-bottom">
        <ul class="w goodsdatails-main-bottom-top">
            <li class="licolor">
                 <span>
                     商品介绍
                 </span>
            </li>
            <li>
                  <span>
                     规格与包装
                  </span>
            </li>
            <li>
                  <span>
                     售后保障
                 </span>
            </li>
            <li>
                  <span>
                     商品评价(2300+)
                  </span>
            </li>
            <li>
                <a href="javascript:;">
                    加入购物车
                </a>
            </li>
        </ul>
        <div class="w goodsdatails-main-bottom-bottom">
            <div class="goodsjieshao"></div>
            <div class="guigebaozhuang">
                <div class="item-detail item-detail-copyright">
                    <div id="shouhou" style="line-height: 20px; font-size: 12px;">
                        <strong>1、生鲜“优鲜赔”绿色通道</strong><br>
                        <p>生鲜自营商品的破损或腐坏等问题，请在商品签收后48小时内提交“<strong>优鲜赔</strong>”申请，100分钟内审核通过后即享补偿，无需返回商品。<br></p>
                        <strong>2、专业生鲜客服团队—让您售后无忧</strong><br>
                        <p>微信在线客服：YC-fresh<br>亿成生鲜客服电话：400-606-3311<br>服务时间：09:00-24:00 <br></p>
                        <strong>3、亿成自营商品开具机打发票或电子发票</strong><br>
                        <p>如您发现商品有质量问题，请在收到商品之时起48小时内及时提交申请或联系客服处理。<br></p>
                        <strong><a href="//help.jd.com/user/issue/325-931.html" target="_blank"><font color="red">生鲜商品售后政策</font></a></strong><br>
                        <p>注：因厂家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，亿成生鲜不能确保客户收到的货物与商城图片、产地、附件说明完全一致。只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。若京东生鲜没有及时更新，请大家谅解！</p>
                    </div>
                    <div id="state">
                        <strong>权利声明：</strong><br>京东上的所有商品信息、客户评价、商品咨询、网友讨论等内容，是京东重要的经营资源，未经许可，禁止非法转载使用。
                        <p><b>注：</b>本站商品信息均来自于合作方，其真实性、准确性和合法性由信息拥有者（合作方）负责。本站不提供任何保证，并不承担任何法律责任。</p>
                        <br>
                        <strong>价格说明：</strong><br>
                        <p><b>京东价：</b>京东价为商品的销售价，是您最终决定是否购买商品的依据。</p>
                        <p><b>划线价：</b>商品展示的划横线价格为参考价，该价格可能是品牌专柜标价、商品吊牌价或由品牌供应商提供的正品零售价（如厂商指导价、建议零售价等）或该商品在京东平台上曾经展示过的销售价；由于地区、时间的差异性和市场行情波动，品牌专柜标价、商品吊牌价等可能会与您购物时展示的不一致，该价格仅供您参考。</p>
                        <p><b>折扣：</b>如无特殊说明，折扣指销售商在原价、或划线价（如品牌专柜标价、商品吊牌价、厂商指导价、厂商建议零售价）等某一价格基础上计算出的优惠比例或优惠金额；如有疑问，您可在购买前联系销售商进行咨询。</p>
                        <p><b>异常问题：</b>商品促销信息以商品详情页“促销”栏中的信息为准；商品的具体售价以订单结算页价格为准；如您发现活动商品售价或促销信息有异常，建议购买前先联系销售商咨询。</p>

                    </div>
                </div>
            </div>
            <div class="shouhuobaozhang">
                <div class="m m-content guarantee" id="guarantee" style="display: block;">
                    <div class="mc">
                        <div class="item-detail item-detail-copyright">
                            <div id="shouhou" style="line-height: 20px; font-size: 12px;">
                                <strong>1、生鲜“优鲜赔”绿色通道</strong><br>
                                <p>生鲜自营商品的破损或腐坏等问题，请在商品签收后48小时内提交“<strong>优鲜赔</strong>”申请，100分钟内审核通过后即享补偿，无需返回商品。<br></p>
                                <strong>2、专业生鲜客服团队—让您售后无忧</strong><br>
                                <p>微信在线客服：YC-fresh<br>亿成生鲜客服电话：400-606-3311<br>服务时间：09:00-24:00 <br></p>
                                <strong>3、亿成自营商品开具机打发票或电子发票</strong><br>
                                <p>如您发现商品有质量问题，请在收到商品之时起48小时内及时提交申请或联系客服处理。<br></p>
                                <strong><a href="//help.jd.com/user/issue/325-931.html" target="_blank"><font color="red">生鲜商品售后政策</font></a></strong><br>
                                <p>注：因厂家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，京东生鲜不能确保客户收到的货物与商城图片、产地、附件说明完全一致。只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。若京东生鲜没有及时更新，请大家谅解！</p>
                            </div>
                            <div id="state">
                                <strong>权利声明：</strong><br>京东上的所有商品信息、客户评价、商品咨询、网友讨论等内容，是京东重要的经营资源，未经许可，禁止非法转载使用。
                                <p><b>注：</b>本站商品信息均来自于合作方，其真实性、准确性和合法性由信息拥有者（合作方）负责。本站不提供任何保证，并不承担任何法律责任。</p>
                                <br>
                                <strong>价格说明：</strong><br>
                                <p><b>亿成价：</b>京东价为商品的销售价，是您最终决定是否购买商品的依据。</p>
                                <p><b>划线价：</b>商品展示的划横线价格为参考价，该价格可能是品牌专柜标价、商品吊牌价或由品牌供应商提供的正品零售价（如厂商指导价、建议零售价等）或该商品在亿成平台上曾经展示过的销售价；由于地区、时间的差异性和市场行情波动，品牌专柜标价、商品吊牌价等可能会与您购物时展示的不一致，该价格仅供您参考。</p>
                                <p><b>折扣：</b>如无特殊说明，折扣指销售商在原价、或划线价（如品牌专柜标价、商品吊牌价、厂商指导价、厂商建议零售价）等某一价格基础上计算出的优惠比例或优惠金额；如有疑问，您可在购买前联系销售商进行咨询。</p>
                                <p><b>异常问题：</b>商品促销信息以商品详情页“促销”栏中的信息为准；商品的具体售价以订单结算页价格为准；如您发现活动商品售价或促销信息有异常，建议购买前先联系销售商咨询。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="goodspinglun"></div>
        </div>
    </section>
</main>
<footer class="yc-footer">
    <div class="service">
        <div class="w slogen">
            <span class=" item1 slogen1">
                <img src="../img/footer/slogen1.png" alt=""/>
            </span>
            <span class="item1 slogen2">
                <img src="../img/footer/slogen2.png" alt=""/>
            </span>
            <span class="item1 slogen3">
                <img src="../img/footer/slogen3.png" alt=""/>
            </span>
            <span class="item1 slogen4">
                <img src="../img/footer/slogen4.png" alt=""/>
            </span>
        </div>
        <div class="w shopping clearfix">
            <dl>
                <dt><a href="#">购物指南</a></dt>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">会员介绍</a></dd>
                <dd><a href="#">秒杀/团购</a></dd>
                <dd><a href="#">常见问题</a></dd>
                <dd><a href="#">亿成生鲜</a></dd>
                <dd><a href="#">联系客服</a></dd>
            </dl>
            <dl>
                <dt><a href="#">购物指南</a></dt>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">会员介绍</a></dd>
                <dd><a href="#">秒杀/团购</a></dd>
                <dd><a href="#">常见问题</a></dd>
                <dd><a href="#">亿成生鲜</a></dd>
                <dd><a href="#">联系客服</a></dd>
            </dl>
            <dl>
                <dt><a href="#">购物指南</a></dt>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">会员介绍</a></dd>
                <dd><a href="#">秒杀/团购</a></dd>
                <dd><a href="#">常见问题</a></dd>
                <dd><a href="#">亿成生鲜</a></dd>
                <dd><a href="#">联系客服</a></dd>
            </dl>
            <dl>
                <dt><a href="#">购物指南</a></dt>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">会员介绍</a></dd>
                <dd><a href="#">秒杀/团购</a></dd>
                <dd><a href="#">常见问题</a></dd>
                <dd><a href="#">亿成生鲜</a></dd>
                <dd><a href="#">联系客服</a></dd>
            </dl>
            <dl>
                <dt><a href="#">购物指南</a></dt>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">会员介绍</a></dd>
                <dd><a href="#">秒杀/团购</a></dd>
                <dd><a href="#">常见问题</a></dd>
                <dd><a href="#">亿成生鲜</a></dd>
                <dd><a href="#">联系客服</a></dd>
            </dl>
            <div class="coverage">
                <div class="dt">亿成自营覆盖区县</div>
                <div class="dd">
                    <p> 亿成已向全市9个区县提供自营配送服务，支持货到付款、POS机刷卡和售后上门服务。</p>
                    <p class="looklook"><a href="#">查看详情 ></a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="w againw">
        <div class="links">
            <a href="#">关于我们</a>|
            <a href="#">联系我们</a>|
            <a href="#">商家入驻</a>|
            <a href="#">营销中心</a>|
            <a href="#">手机亿成</a>|
            <a href="#">友情链接</a>|
            <a href="#">销售联盟</a>|
            <a href="#">亿成社区</a>|
            <a href="#">亿成公益</a>|
            <a href="#">English Site</a>|
            <a href="#">Contact Us</a>
        </div>
        <div class="copyright">
            菏泽市公安局牡丹区分局备案编号110105014669  |  鲁ICP证070359号  |  互联网药品信息服务资格证编号(鲁)-经营性-2014-0008  |  新出发鲁零 字第大120007号<br />
            音像制品经营许可证鲁菏批005号  |  出版物经营许可证编号新出发(鲁)批字第N-012号  |  互联网出版许可证编号新出网证(鲁)字150号<br />
            网络文化经营许可证鲁网文[2014]2148-348号  违法和不良信息举报电话：4006561155  Copyright © 2004-2015  亿成.com 版权所有<br />
            亿成旗下网站：360TOP  拍拍网  网银在线
        </div>
        <div class="message">
            <a href="#"><img src="../ycysx/img/footer/mess.png" alt=""/></a>
            <a href="#"><img src="../ycysx/img/footer/mess2.png" alt=""/></a>
            <a href="#"><img src="../ycysx/img/footer/mess3.png" alt=""/></a>
            <a href="#"><img src="../ycysx/img/footer/mess4.png" alt=""/></a>
            <a href="#"><img src="../ycysx/img/footer/mess5.png" alt=""/></a>
        </div>
</footer>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script>
    window.onload=function(){
        ichange();
        new TbdCityChoice({
            id: "selectbox",
            type: 1,
            province: "请选择省份",
            city: "请选择市",
            town: "请选择县",
            names: ["name1", "name2", "name3"],
            changeend: function (p, c, t) {

            }
        }).init();

    };

    // 小图左右切换
    var ichange = function () {
        var ileft       = document.getElementById("ileft");
        var firstul     = document.getElementById("firstul");
        var iright      = document.getElementById("iright");
        var a = 0;
        var b =0;
        ileft.onclick =function () {
            a=a-55;
            if (a>=-220){
                firstul.style.left = a + "px";
            }
            else {
                a =55
            }
        };
        iright.onclick = function () {
            var l = firstul.style.left;
            var n = parseInt(l);
            b =n+55;
            if (b<=0)
                firstul.style.left = b + "px"
        }
    };


    //商品数量加减
    $(document).ready(function () {
        var add   = $("#addminus-add");
        var nub   = parseInt($("#addminus-nub").text());
        var minus = $("#addminus-minus");
        add.on({
            click:function () {
                nub   = nub+1;
                $("#addminus-nub").text(nub)
            }
        });
        minus.on({
            click:function () {
                if(nub>=2){
                    nub   = nub-1;
                    $("#addminus-nub").text(nub)
                }
            }
        })





    });

    //大小图片切换
    $(document).ready(function () {
        $(".top-left-small-img").on({
            mouseenter: function () {
                $(".top-left-big-img").eq($(this).index())
                    .show()
                    .siblings()
                    .hide()
            }
        });

        $(".top-left-big-img").on({
            mouseenter:function () {
                var bigImage = $(".goodsdatails-main-top-bigimgs-div");
                var small = document.getElementById("smallimgs");
                var mask = document.getElementById("mask");



                bigImage.eq($(this).index())
                    .show()
                    .siblings()
                    .hide();
                $(".goodsdatails-main-top-bigimgs").show();
                $(".mask").show();

                var big = document.getElementsByClassName("goodsdatails-main-top-bigimgs-div")[$(this).index()];
                var bigImage1 = big.children[0];
                var x = 0;
                var y = 0;
                small.onmousemove = function(event) {
                    var event = event || window.event;
                    x = event.clientX - this.offsetParent.offsetLeft - mask.offsetWidth /0.5;
                    y = event.clientY - this.offsetParent.offsetTop - mask.offsetHeight /0.5;
                    if(x < 0)
                    {
                        x = 0;
                    }
                    else if(x > small.offsetWidth - mask.offsetWidth)
                    {
                        x = small.offsetWidth - mask.offsetWidth;
                    }
                    if(y<0)
                    {
                        y = 0;
                    }
                    else if(y > small.offsetHeight - mask.offsetHeight)
                    {
                        y = small.offsetHeight - mask.offsetHeight;
                    }
                    mask.style.left = x + "px";
                    mask.style.top = y + "px";
                    bigImage1.style.top =  -y *  big.offsetHeight /small.offsetHeight + "px";
                    bigImage1.style.left =  -x *  big.offsetWidth /small.offsetWidth + "px";

                }
            }
            ,mouseleave:function () {
                $(".goodsdatails-main-top-bigimgs").hide();
                $(".mask").hide();
            }
        })
    });


    $(document).ready(() => {
        let a = window.location.pathname;
        let id = a.slice(20, 23);
        let index = a.slice(23);
        jQuery.get("/EveryGoodsDetails", {id: id, index: index}, ((data) => {

            $("#smallimgs").append("<div class=" + "top-left-big-img" + "><img src=" + data.img + "></div>");
            $(".goodsdatails-main-top-center-title").append("<h1>" + data.title + "</h1>");
            $(".goodsdatails-main-top-center-price").append("<div class=\"goodsdatails-main-top-center-price-top\"><span>亿成价:</span><span>￥</span><span>" + data.price + "</span><a href=\"\">降价通知</a></div>");


            let productImg = data.productImg;
            let details = data.details;
            let goodsInfo = data.goodsInfo;
            let bigImg = data.bigImg;
            let showBottom = data.showBottom;
            let smallImg = data.smallImg;

            $(bigImg).each((index, e) => {
                $("#bigimgs").append("<div class=" + "top-left-big-img" + "><img src=" + bigImg[index].bimg + "></div>")
            });

            $(smallImg).each((index, e) => {
                $("#firstul").append("<div class=" + "top-left-small-img" + "><img src=" + smallImg[index].simg + "></div>")
            });

            $(productImg).each((index, e) => {
                $(".goodsjieshao").append("<div><img src=" + productImg[index].pimg + "></div>")
            });


            $("#BayNow").on("click", () => {
                if (sessionStorage.getItem("userInfo") === null) {
                    alert("登录才能购买");
                }
                else {
                    let number = $("#addminus-nub").text();

                    window.location.href = "/buyPage/" + "?" + "img=" + data.img + "&" + "title=" + data.title + "&" + "price=" + data.price + "&" + "number=" + number + ""

                }
            });

            $("#AddCart").on("click",()=> {

                if (sessionStorage.getItem("userInfo") === null) {
                    alert("登录才能加入购物车");
                }
                else {

                        let utils = {
                            setParam: function (name, value) {
                                localStorage.setItem(name, value)
                            },
                            getParam: function (name) {
                                return localStorage.getItem(name)
                            }
                        };
                        let product = {
                            img: data.img,
                            title: data.title,
                            price: data.price,
                            id: id,
                            num: 1,
                            index: index
                        };
                        let ShoppingCart = localStorage.getItem("ShoppingCart");
                        if (ShoppingCart == null || ShoppingCart == "") {

                            let jsonstr = {
                                "productlist": [{
                                    "img": product.img,
                                    "title": product.title,
                                    "num": product.num,
                                    "id": product.id,
                                    "price": product.price,
                                    "index": index
                                }],
                                "totalNumber": product.num,
                                "totalAmount": (product.price * product.num)
                            };

                            utils.setParam("ShoppingCart", "'" + JSON.stringify(jsonstr));
                        }
                        else {
                            let jsonstr = JSON.parse(ShoppingCart.substr(1, ShoppingCart.length));
                            let productlist = jsonstr.productlist;
                            let result = false;
                            for (let i in productlist) {
                                if (productlist[i].id == product.id) {
                                    productlist[i].num = parseInt(productlist[i].num) + parseInt(product.num);
                                    result = true;
                                }
                            }
                            if (!result) {

                                productlist.push({
                                    "img": product.img,
                                    "title": product.title,
                                    "num": product.num,
                                    "id": product.id,
                                    "price": product.price,
                                    "index": index
                                });
                            }
                            jsonstr.totalNumber = parseInt(jsonstr.totalNumber) + parseInt(product.num);
                            jsonstr.totalAmount = parseFloat(jsonstr.totalAmount) + (parseInt(product.num) * parseFloat(product.price));
                            utils.setParam("ShoppingCart", "'" + JSON.stringify(jsonstr));
                        }
                        let shoppingCart = utils.getParam("ShoppingCart");
                    jQuery.post("/JQUserAddProduct", {
                        shoppingCart: shoppingCart
                    }, ((data) => {
                        if (data === "1") {
                            alert("已经加入购物车")
                        }
                    }))

                }
            });


        }))


        //商品详情切换

        $(".goodsdatails-main-bottom-top li").on({
            click: function () {
                $(".goodsdatails-main-bottom-top li")
                    .eq($(this).index())
                    .addClass("licolor")
                    .siblings()
                    .removeClass("licolor");
                $(".goodsdatails-main-bottom-bottom>div")
                    .eq($(this).index())
                    .show()
                    .siblings()
                    .hide();
            }
        })


        // 地址选择

        $("#dowselect").on({
            click: function () {
                $("#selectbox").toggle()
            }
        });


        //检测用户是否登录


    });

</script>
</body>
</html>