<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="description" content="亿成优生鲜(www.yanjina.top)亿成优生鲜鲁西南唯一官方网上生鲜商城，中国领先的专业生鲜网购平台.7大系列产品，鸡、鸭分割系列、猪系列、水产品、调理品、火锅产品、面点等7大系列1000种商品；更低价格，更快送达，为您提供便捷、诚信的服务.">
    <meta name="Keywords" content="亿成,亿成优生鲜,生鲜,生鲜官方旗舰店,生鲜网上商城,鸡,鸭分割系列,猪系列,水产品,调理品,火锅产品,面点">
    <meta property="qc:admins" content="2500556177677556375636">
    <meta name="applicable-device" content="pc">
    <meta name="data-code" content="sy">
    <meta http-equiv="mobile-agent"  content="format=xhtml; url=//m.yanjina.top">
    <meta http-equiv="mobile-agent"  content="format=html5; url=//m.yanjina.top">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Access-Control-Allow-Origin" content="//">
    <title>注册登录页面</title>
    <link rel="stylesheet" type="text/css" href="../ycysx/css/base.css">
    <link rel="stylesheet" type="text/css" href="../ycysx/css/icon/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../ycysx/css/login_register.css">
    <script type="text/javascript" src="../lib/jquery.min.js"></script>
    <script type="text/javascript" src="../ycysx/js/login_register.js"></script>

</head>
<body>
<header class=" clearfix lrheader">
    <div class="clearfix lrheader-top">
        <div class="lrheader-top-logo"></div>
        <p class="lrheader-top-text">欢迎登录</p>
    </div>
    <div class="clearfix lrheader-bottom">
            <i class="iconfont icon-zhushi"></i>
            <span >
                依据《网络安全法》，为保障您的账户安全和正常使用，
                请尽快完成手机号验证！ 新版《亿成隐私政策》已上线，
                将更有利于保护您的个人隐私。
            </span>
    </div>
</header>
<main class="lrmanin">
    <section class="lrmanin-login">
        <div class="w lrmanin-login-one">
            <img src="ycysx/img/login_register/banner1.jpg">
            <div class="lrmanin-login-content">
                <div class="lrmanin-login-content-top">
                    <span id="saomaologin">扫码登录</span>
                    <span id="usernamelogin">账户登录</span>
                </div>
                <div class="lrmanin-login-content-center">
                    <div class="lrmanin-login-content-center-saoyisao">
                        <img src="../ycysx/img/login_register/show.png">
                        <img src="../ycysx/img/login_register/phone-orange.png">
                        <div class="open-ewm">
                            <span>打开手机亿成</span>&nbsp&nbsp
                            <span>扫描二维码</span>
                        </div>
                        <div class="open-shuru">
                         <span class="">
                             <i class="iconfont icon-shuru"></i>
                             <span class="">免输入</span>
                         </span>
                            <span class="">
                             <i class="iconfont icon-kuaisu"></i>
                             <span class="">更快</span>
                         </span>
                            <span class="">
                             <i class="iconfont icon-unie613"></i>
                             <span class="">更安全</span>
                         </span>
                        </div>
                    </div>
                    <div class="clearfix lrmanin-login-content-center-login" >
                        <div class="">
                            <i class="iconfont icon-iconfonticonfontwode1
会员"></i>
                            <input type="text" id="username" placeholder="邮箱/用户名/已验证手机" class="reg_user1">
                            <span class="user_hint1"></span>
                        </div>
                        <div class="">
                            <i class="iconfont icon-mima"></i>
                            <input type="password" id="password" placeholder="密码" class="reg_password1">
                            <span class="tip password_hint1"></span>
                        </div>
                     <a href="javascript:void(0)" id="forgetpassword">忘记密码</a>
           <button type="button" id="login">登&nbsp&nbsp&nbsp&nbsp录</button>
                    </div>
                </div>
                <div class="lrmanin-login-content-bottom">
                    <a href="" class="lrmanin-login-content-bottom-qq">
                        <i class="iconfont icon-qq"></i>
                        <span class="">QQ</span>
                    </a>
                    <span class="lrmanin-login-content-bottom-span"></span>
                    <a href="" class="lrmanin-login-content-bottom-weixin">
                        <i class="iconfont icon-weixin"></i>
                        <span class="">微信</span>
                    </a>
                    <a href="javascript:void(0)" class="lrmanin-login-content-bottom-register">
                        <i class="iconfont icon-right-trangle"></i>
                        <span id="nowregister">立即注册</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="lrmanin-register">
       <div class="w lrmanin-register-content">
           <img src="ycysx/img/login_register/banner2.jpg">
           <div class="lrmanin-register-table">
               <div class="">
               <i class="iconfont icon-iconfonticonfontwode1"></i>
          <input type="text" placeholder="请输入4-8位账户和登录名" class="reg_user" id="username1">
                   <span class="tip user_hint"></span>
               </div>
               <div class="">
                   <i class="iconfont icon-mima1"></i>
                   <input type="password" placeholder="建议至少使用两种字符组合密码" class="reg_password" id="password1">
                   <span class="tip password_hint"></span>
               </div>
               <div class="">
                   <i class="iconfont icon-mima1"></i>
                   <input type="password" placeholder="请再次确认输入密码" class="reg_confirm"  id="password2">
                   <span class="tip confirm_hint"></span>
               </div>
               <div class="">
                   <i class="iconfont icon-phone" ></i>
                   <input type="text" placeholder="请输入常用的手机号"  class="reg_mobile" id="phone">
                   <span class="tip mobile_hint"></span>
               </div>
               <div class="pleaseinputcode">
                   <i class="iconfont icon-yanzhengma1"></i>
                   <input type="text" placeholder="请输入验证码">
               </div>
               <div class="">
                   <i class="iconfont icon-iconfontshoudaodehezuoshenqing"></i>
                   <input type="text" placeholder="请输入邮箱" class="reg_email" id="email">
                   <span class="tip email_hint"></span>
               </div>
               <button type="button" id="register">点击注册</button>
           </div>
           <div class="identifyingcode">
               <span>jihy</span>
           </div>
       </div>

    </section>
    <section class="lrmanin-lookfor">
       <div class="w lookfor-content">
           <img src="ycysx/img/login_register/banner3.jpg">
           <div class="lrmanin-lookfor-text">
               <h2 class="">找回密码</h2>
               <div class="clearfix lrmanin-lookfor-text-buzhou">
                   <div class=" daole lrmanin-lookfor-text-buzhou-heng">
                       <br>
                       <p>填写账户名</p>
                   </div>
                   <div class="lrmanin-lookfor-text-buzhou-heng">
                       <br>
                       <p>验证身份</p>
                   </div>
                   <div class="lrmanin-lookfor-text-buzhou-heng">
                       <br>
                       <p>设置新密码</p>
                   </div>
                   <div class="lrmanin-lookfor-text-buzhou-heng">
                       <br>
                       <p>完成</p>
                   </div>
                   <div class="daole lrmanin-lookfor-text-buzhou-one">1</div>
                   <div class="lrmanin-lookfor-text-buzhou-two">2</div>
                   <div class="lrmanin-lookfor-text-buzhou-third">3</div>
                   <div class="lrmanin-lookfor-text-buzhou-four">4</div>
               </div>
               <div class="lrmanin-lookfor-text-teble">
                   <div>
                       <span class="">账户名:</span>
                       <input type="text" placeholder="用户名/邮箱/已验证手机">
                   </div>
                   <div>
                       <span class="">验证码:</span>
                       <input type="text" placeholder="输入验证码">
                   </div>
                   <div class="yanzhengma">FSDG</div>
                   <button>提交</button>
               </div>

           </div>
       </div>

    </section>
</main>
<% include ycysxfooter.ejs%>
</body>
</html>