<header>
    <div class="topbaner">
        <img class="w topbaner-img" src="../ycysx/img/header/sx.jpg" alt="">
        <a href="javascript:;" class="closetop"></a>
    </div>
    <div class="navbar">
        <div class="w nav">
            <div class="fl nav">
                <div class="dnl">
                  <i class="iconfont icon-dizhi"></i>
                  <span >到北京</span>
                  <div class="select-address">
                      <span class="item">北京</span>
                      <span class="item">天津</span>
                      <span class="item">重庆</span>
                      <span class="item">上海</span>
                      <span class="item">山西</span>
                      <span class="item">河北</span>
                      <span class="item">河南</span>
                      <span class="item">辽宁</span>
                      <span class="item">吉林</span>
                      <span class="item">黑龙江</span>
                      <span class="item">内蒙古</span>
                      <span class="item">江苏</span>
                      <span class="item">山东</span>
                      <span class="item">安徽</span>
                      <span class="item">浙江</span>
                      <span class="item">福建</span>
                      <span class="item">湖北</span>
                      <span class="item">湖南</span>
                      <span class="item">广东</span>
                      <span class="item">广西</span>
                      <span class="item">江西</span>
                      <span class="item">四川</span>
                      <span class="item">海南</span>
                      <span class="item">贵州</span>
                      <span class="item">云南</span>
                      <span class="item">西藏</span>
                      <span class="item">陕西</span>
                      <span class="item">甘肃</span>
                      <span class="item">青海</span>
                      <span class="item">宁夏</span>
                      <span class="item">新疆</span>
                      <span class="item">港澳</span>
                      <span class="item">台湾</span>
                      <span class="item">钓鱼岛</span>
                      <span class="item">海外</span>
                  </div>
                </div>
            </div>
            <ul class="fr nav">
                <li>
                    <a href="/loginregister">你好，请登录</a>&nbsp;&nbsp;
                    <a style="color:red " href="/loginregister" >免费注册</a>
                </li>
                <li class="line"></li>
                <li class="fore">
                    <a href="">我的订单</a>
                </li>
                <li class="line"></li>
                <li class="fore" id="myyc">
                    <a href="/ycysx/userinfos">我的亿成</a>
                    <i class="iconfont icon-down-trangle1" ></i>
                    <ul class="myyc">
                        <li><a href="">待处理订单</a></li>
                        <li><a href="">退货换货</a></li>
                        <li><a href="">降价生鲜</a></li>
                        <li><a href="">我的关注</a></li>
                        <li><a href="">我的优惠券</a></li>
                        <li><a href="">物流消息</a></li>
                    </ul>
                </li>
                <li class="line"></li>
                <li class="fore">
                    <a href="">亿成会员</a>
                </li>
                <li class="line"></li>
                <li class="fore">
                    <a href="">企业采购</a>
                </li>
                <li class="line"></li>
                <li class="fore"  id="khfw">
                    <a href="">客户服务 </a>
                    <i class="iconfont icon-down-trangle1" ></i>
                    <ul class="khfw">
                        <li><a href="">帮助中心</a></li>
                        <li><a href="">售后服务</a></li>
                        <li><a href="">在线客服</a></li>
                        <li><a href="">电话客服</a></li>
                        <li><a href="">客服邮箱</a></li>
                        <li><a href="">电话客服</a></li>
                        <li><a href="">意见建议</a></li>
                        <li><a href="">商家帮助</a></li>
                        <li><a href="">规则平台</a></li>
                    </ul>
                </li>
                <li class="line"></li>
                <li class="fore" id="wzdh">
                    <a href="" >网站导航</a>
                    <i class="iconfont icon-down-trangle1" ></i>
                    <ul class="wzdh">
                        <li><a href="">牛肉产品</a></li>
                        <li><a href="">羊肉产品</a></li>
                        <li><a href="">猪肉产品</a></li>
                        <li><a href="">鸡肉产品</a></li>
                        <li><a href="">鸭肉产品</a></li>
                        <li><a href="">火锅产品</a></li>
                        <li><a href="">调料产品</a></li>
                        <li><a href="">特价产品</a></li>
                        <li><a href="">进口产品</a></li>
                        <li><a href="">鲁西南特产</a></li>
                        <li><a href="">货到付款</a></li>
                        <li><a href="">服务中心</a></li>
                    </ul>
                </li>
                <li class="line"></li>
                <li class="fore" id="sjyc">
                    <a href="">手机亿成</a>
                    <ul class="sjyc">
                        <li class="khd">
                            <div class="sjyc-left khdewm"></div>
                            <div class="sjyc-reght">
                               <a class="asjyc" href="" >手机亿成</a>
                                <span>新人大礼包</span>
                                <div>
                                    <div class="ios"><a href=""></a></div>
                                    <div class="android"><a href=""></a></div>
                                    <div class="ipad"><a href=""></a></div>
                                </div>
                            </div>
                        </li>
                        <li class="gzh">
                            <div class="sjyc-left gzhewm"></div>
                            <div class="sjyc-reght">
                                <a class="asjyc">关注亿成微信</a><br>
                                <span>
                                    微信扫一扫关注
                                    新粉最高180元
                                    惊喜礼包
                                </span>
                            </div>
                        </li>
                        <li class="xcx">
                            <div class="sjyc-left" xcxewm></div>
                            <div class="sjyc-reght">
                                <a class="asjyc">亿成小程序</a><br>
                                <span>新人大礼包</span>
                                <div>
                                    <div class="ios"><a href=""></a></div>
                                    <div class="android"><a href=""></a></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="w header-bottom">
        <div class="yclogo">
            <h2 href="/ycysx">亿成优生鲜</h2>
        </div>
        <div class="search-bar">
            <input type="text" name="" placeholder="生鲜开抢" class="bottomsearch">
            <label class="search-bar-camera">
                <input type="file" id="search-bar-camera-input">
                <i class="iconfont icon-zhaoxiangji" ></i>
            </label>
            <button  type="submit"><i class="iconfont icon-sousuo"></i></button>
        </div>
        <div class="shopping-chart">
            <i class="iconfont icon-gouwuche1"></i>
            <span class="my-shopping-cart">我的购物车</span>
            <span class="goods-count">0</span>
        </div>
        <div class="ewm"></div>
        <div class="top-search-queries">
            <a style="color: red" href="">山羊肉</a>
            <a href="">牛排</a>
            <a href="">猪后腿肉</a>
            <a href="">鸡腿</a>
            <a href="">鸭脯肉</a>
            <a href="">火锅丸子</a>
            <a href="">速冻水饺</a>
            <a href="">精装挂面</a>
            <a href="">优质面粉</a>
        </div>
        <div class="bottom-navbar">
            <a style="color: red" href="">秒杀</a>
            <a href="">优惠券</a>
            <a href="">闪购</a>
            <a href="">鲁西南特产</a>
            <a href="">线下超市</a>
            <a href="">冷冻食品</a>
            <a href="">海鲜水产</a>
            <a href="">粮油调味</a>
            <a href="">货到付款</a>
        </div>
        <a class="welcome" href="/ycysx"></a>
    </div>
    <div class="header-floatsearch">
        <div class="w header-floatsearch-main">
           <div class="header-floatsearch-main-logo"></div>
           <div class="header-floatsearch-main-search">
               <input type="text" name="" placeholder="生鲜开抢" class="inputfirst">
               <label class="header-floatsearch-main-search-camera">
                   <input type="file" class="search-bar-camera-input">
                   <i class="iconfont icon-zhaoxiangji" ></i>
               </label>
               <button  type="submit"><i class="iconfont icon-sousuo"></i></button>
           </div>
        </div>
    </div>

</header>