<footer class="yc-footer">
        <div class="service">
            <div class="w slogen">
            <span class=" item1 slogen1">
                <img src="../ycysx/img/footer/slogen1.png" alt=""/>
            </span>
                <span class="item1 slogen2">
                <img src="../ycysx/img/footer/slogen2.png" alt=""/>
            </span>
                <span class="item1 slogen3">
                <img src="../ycysx/img/footer/slogen3.png" alt=""/>
            </span>
                <span class="item1 slogen4">
                <img src="../ycysx/img/footer/slogen4.png" alt=""/>
            </span>
            </div>
            <div class="w shopping clearfix">
                <dl>
                    <dt><a href="#">购物指南</a></dt>
                    <dd><a href="#">购物流程</a></dd>
                    <dd><a href="#">会员介绍</a></dd>
                    <dd><a href="#">秒杀/团购</a></dd>
                    <dd><a href="#">常见问题</a></dd>
                    <dd><a href="#">亿成生鲜</a></dd>
                    <dd><a href="#">联系客服</a></dd>
                </dl>
                <dl>
                    <dt><a href="#">购物指南</a></dt>
                    <dd><a href="#">购物流程</a></dd>
                    <dd><a href="#">会员介绍</a></dd>
                    <dd><a href="#">秒杀/团购</a></dd>
                    <dd><a href="#">常见问题</a></dd>
                    <dd><a href="#">亿成生鲜</a></dd>
                    <dd><a href="#">联系客服</a></dd>
                </dl>
                <dl>
                    <dt><a href="#">购物指南</a></dt>
                    <dd><a href="#">购物流程</a></dd>
                    <dd><a href="#">会员介绍</a></dd>
                    <dd><a href="#">秒杀/团购</a></dd>
                    <dd><a href="#">常见问题</a></dd>
                    <dd><a href="#">亿成生鲜</a></dd>
                    <dd><a href="#">联系客服</a></dd>
                </dl>
                <dl>
                    <dt><a href="#">购物指南</a></dt>
                    <dd><a href="#">购物流程</a></dd>
                    <dd><a href="#">会员介绍</a></dd>
                    <dd><a href="#">秒杀/团购</a></dd>
                    <dd><a href="#">常见问题</a></dd>
                    <dd><a href="#">亿成生鲜</a></dd>
                    <dd><a href="#">联系客服</a></dd>
                </dl>
                <dl>
                    <dt><a href="#">购物指南</a></dt>
                    <dd><a href="#">购物流程</a></dd>
                    <dd><a href="#">会员介绍</a></dd>
                    <dd><a href="#">秒杀/团购</a></dd>
                    <dd><a href="#">常见问题</a></dd>
                    <dd><a href="#">亿成生鲜</a></dd>
                    <dd><a href="#">联系客服</a></dd>
                </dl>
                <div class="coverage">
                    <div class="dt">亿成自营覆盖区县</div>
                    <div class="dd">
                        <p> 亿成已向全市9个区县提供自营配送服务，支持货到付款、POS机刷卡和售后上门服务。</p>
                        <p class="looklook"><a href="#">查看详情 ></a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="w againw">
            <div class="links">
                <a href="#">关于我们</a>|
                <a href="#">联系我们</a>|
                <a href="#">商家入驻</a>|
                <a href="#">营销中心</a>|
                <a href="#">手机亿成</a>|
                <a href="#">友情链接</a>|
                <a href="#">销售联盟</a>|
                <a href="#">亿成社区</a>|
                <a href="#">亿成公益</a>|
                <a href="#">English Site</a>|
                <a href="#">Contact Us</a>
            </div>
            <div class="copyright">
                菏泽市公安局牡丹区分局备案编号110105014669  |  鲁ICP证070359号  |  互联网药品信息服务资格证编号(鲁)-经营性-2014-0008  |  新出发鲁零 字第大120007号<br />
                音像制品经营许可证鲁菏批005号  |  出版物经营许可证编号新出发(鲁)批字第N-012号  |  互联网出版许可证编号新出网证(鲁)字150号<br />
                网络文化经营许可证鲁网文[2014]2148-348号  违法和不良信息举报电话：4006561155  Copyright © 2004-2015  亿成.com 版权所有<br />
                亿成旗下网站：360TOP  拍拍网  网银在线
            </div>
            <div class="message">
                <a href="#"><img src="../ycysx/img/footer/mess.png" alt=""/></a>
                <a href="#"><img src="../ycysx/img/footer/mess2.png" alt=""/></a>
                <a href="#"><img src="../ycysx/img/footer/mess3.png" alt=""/></a>
                <a href="#"><img src="../ycysx/img/footer/mess4.png" alt=""/></a>
                <a href="#"><img src="../ycysx/img/footer/mess5.png" alt=""/></a>
            </div>
</footer>










