<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="description" content="亿成优生鲜(www.yanjina.top)亿成优生鲜鲁西南唯一官方网上生鲜商城，中国领先的专业生鲜网购平台.7大系列产品，鸡、鸭分割系列、猪系列、水产品、调理品、火锅产品、面点等7大系列1000种商品；更低价格，更快送达，为您提供便捷、诚信的服务.">
    <meta name="Keywords" content="亿成,亿成优生鲜,生鲜,生鲜官方旗舰店,生鲜网上商城,鸡,鸭分割系列,猪系列,水产品,调理品,火锅产品,面点">
    <meta property="qc:admins" content="2500556177677556375636">
    <meta name="applicable-device" content="pc">
    <meta name="data-code" content="sy">
    <meta http-equiv="mobile-agent"  content="format=xhtml; url=//m.yanjina.top">
    <meta http-equiv="mobile-agent"  content="format=html5; url=//m.yanjina.top">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Access-Control-Allow-Origin" content="//">
    <title>亿成优生鲜-网购商城，正品低价、品质保障、快速送达、安心服务！</title>
    <link rel="stylesheet" type="text/css" href="../ycysx/css/base.css">
    <link rel="stylesheet" type="text/css" href="../ycysx/css/icon/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../ycysx/css/index.css">
</head>
<body>
<header>
    <div class="topbaner">
        <img class="w topbaner-img" src="../ycysx/img/header/sx.jpg" alt="">
        <a href="javascript:;" class="closetop"></a>
    </div>
    <div class="navbar">
        <div class="w nav">
            <div class="fl nav">
                <div class="dnl">
                    <i class="iconfont icon-dizhi"></i>
                    <span >到北京</span>
                    <div class="select-address">
                        <span class="item">北京</span>
                        <span class="item">天津</span>
                        <span class="item">重庆</span>
                        <span class="item">上海</span>
                        <span class="item">山西</span>
                        <span class="item">河北</span>
                        <span class="item">河南</span>
                        <span class="item">辽宁</span>
                        <span class="item">吉林</span>
                        <span class="item">黑龙江</span>
                        <span class="item">内蒙古</span>
                        <span class="item">江苏</span>
                        <span class="item">山东</span>
                        <span class="item">安徽</span>
                        <span class="item">浙江</span>
                        <span class="item">福建</span>
                        <span class="item">湖北</span>
                        <span class="item">湖南</span>
                        <span class="item">广东</span>
                        <span class="item">广西</span>
                        <span class="item">江西</span>
                        <span class="item">四川</span>
                        <span class="item">海南</span>
                        <span class="item">贵州</span>
                        <span class="item">云南</span>
                        <span class="item">西藏</span>
                        <span class="item">陕西</span>
                        <span class="item">甘肃</span>
                        <span class="item">青海</span>
                        <span class="item">宁夏</span>
                        <span class="item">新疆</span>
                        <span class="item">港澳</span>
                        <span class="item">台湾</span>
                        <span class="item">钓鱼岛</span>
                        <span class="item">海外</span>
                    </div>
                </div>
            </div>
            <ul class="fr nav">
                <li>
                    <a href="/loginregister">你好，请登录</a>&nbsp;&nbsp;
                    <a style="color:red " href="/loginregister" >免费注册</a>
                </li>
                <li class="line"></li>
                <li class="fore">
                    <a href="">我的订单</a>
                </li>
                <li class="line"></li>
                <li class="fore" id="myyc">
                    <a href="/ycysx/userinfos">我的亿成</a>
                    <i class="iconfont icon-down-trangle1" ></i>
                    <ul class="myyc">
                        <li><a href="">待处理订单</a></li>
                        <li><a href="">退货换货</a></li>
                        <li><a href="">降价生鲜</a></li>
                        <li><a href="">我的关注</a></li>
                        <li><a href="">我的优惠券</a></li>
                        <li><a href="">物流消息</a></li>
                    </ul>
                </li>
                <li class="line"></li>
                <li class="fore">
                    <a href="">亿成会员</a>
                </li>
                <li class="line"></li>
                <li class="fore">
                    <a href="">企业采购</a>
                </li>
                <li class="line"></li>
                <li class="fore"  id="khfw">
                    <a href="">客户服务 </a>
                    <i class="iconfont icon-down-trangle1" ></i>
                    <ul class="khfw">
                        <li><a href="">帮助中心</a></li>
                        <li><a href="">售后服务</a></li>
                        <li><a href="">在线客服</a></li>
                        <li><a href="">电话客服</a></li>
                        <li><a href="">客服邮箱</a></li>
                        <li><a href="">电话客服</a></li>
                        <li><a href="">意见建议</a></li>
                        <li><a href="">商家帮助</a></li>
                        <li><a href="">规则平台</a></li>
                    </ul>
                </li>
                <li class="line"></li>
                <li class="fore" id="wzdh">
                    <a href="" >网站导航</a>
                    <i class="iconfont icon-down-trangle1" ></i>
                    <ul class="wzdh">
                        <li><a href="">牛肉产品</a></li>
                        <li><a href="">羊肉产品</a></li>
                        <li><a href="">猪肉产品</a></li>
                        <li><a href="">鸡肉产品</a></li>
                        <li><a href="">鸭肉产品</a></li>
                        <li><a href="">火锅产品</a></li>
                        <li><a href="">调料产品</a></li>
                        <li><a href="">特价产品</a></li>
                        <li><a href="">进口产品</a></li>
                        <li><a href="">鲁西南特产</a></li>
                        <li><a href="">货到付款</a></li>
                        <li><a href="">服务中心</a></li>
                    </ul>
                </li>
                <li class="line"></li>
                <li class="fore" id="sjyc">
                    <a href="">手机亿成</a>
                    <ul class="sjyc">
                        <li class="khd">
                            <div class="sjyc-left khdewm"></div>
                            <div class="sjyc-reght">
                                <a class="asjyc" href="" >手机亿成</a>
                                <span>新人大礼包</span>
                                <div>
                                    <div class="ios"><a href=""></a></div>
                                    <div class="android"><a href=""></a></div>
                                    <div class="ipad"><a href=""></a></div>
                                </div>
                            </div>
                        </li>
                        <li class="gzh">
                            <div class="sjyc-left gzhewm"></div>
                            <div class="sjyc-reght">
                                <a class="asjyc">关注亿成微信</a><br>
                                <span>
                                    微信扫一扫关注
                                    新粉最高180元
                                    惊喜礼包
                                </span>
                            </div>
                        </li>
                        <li class="xcx">
                            <div class="sjyc-left" xcxewm></div>
                            <div class="sjyc-reght">
                                <a class="asjyc">亿成小程序</a><br>
                                <span>新人大礼包</span>
                                <div>
                                    <div class="ios"><a href=""></a></div>
                                    <div class="android"><a href=""></a></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="w header-bottom">
        <div class="yclogo">
            <h2 href="/ycysx">亿成优生鲜</h2>
        </div>
        <div class="search-bar">
            <input type="text" name="" placeholder="生鲜开抢" class="bottomsearch">
            <label class="search-bar-camera">
                <input type="file" id="search-bar-camera-input">
                <i class="iconfont icon-zhaoxiangji" ></i>
            </label>
            <button  type="submit"><i class="iconfont icon-sousuo"></i></button>
        </div>
        <div class="shopping-chart">
            <i class="iconfont icon-gouwuche1"></i>
            <span class="my-shopping-cart">我的购物车</span>
            <span class="goods-count">0</span>
        </div>
        <div class="ewm"></div>
        <div class="top-search-queries">
            <a style="color: red" href="">山羊肉</a>
            <a href="">牛排</a>
            <a href="">猪后腿肉</a>
            <a href="">鸡腿</a>
            <a href="">鸭脯肉</a>
            <a href="">火锅丸子</a>
            <a href="">速冻水饺</a>
            <a href="">精装挂面</a>
            <a href="">优质面粉</a>
        </div>
        <div class="bottom-navbar">
            <a style="color: red" href="">秒杀</a>
            <a href="">优惠券</a>
            <a href="">闪购</a>
            <a href="">鲁西南特产</a>
            <a href="">线下超市</a>
            <a href="">冷冻食品</a>
            <a href="">海鲜水产</a>
            <a href="">粮油调味</a>
            <a href="">货到付款</a>
        </div>
        <a class="welcome" href="/ycysx"></a>
    </div>
    <div class="header-floatsearch">
        <div class="w header-floatsearch-main">
            <div class="header-floatsearch-main-logo"></div>
            <div class="header-floatsearch-main-search">
                <input type="text" name="" placeholder="生鲜开抢" class="inputfirst">
                <label class="header-floatsearch-main-search-camera">
                    <input type="file" class="search-bar-camera-input">
                    <i class="iconfont icon-zhaoxiangji" ></i>
                </label>
                <button  type="submit"><i class="iconfont icon-sousuo"></i></button>
            </div>
        </div>
    </div>
    <div class="rightnavbar">
        <div class="rightNavbarTemplet">
            <a href="/ycysx/userinfos" class="rightNavbarTemplet-a">
                <i class="iconfont icon-person-copy"></i>
                <p class="rightNavbarTemplet-a-p">亿成会员</p>
            </a>
            <a href="/ycysx/shoppingcart" class="rightNavbarTemplet-a">
                <i class="iconfont icon-gouwuche1"></i>
                <p class="rightNavbarTemplet-a-p">购物车</p>
            </a>
            <a href="" class="rightNavbarTemplet-a">
                <i class="iconfont icon-heart"></i>
                <p class="rightNavbarTemplet-a-p">关注</p>
            </a>
            <a href="" class="rightNavbarTemplet-a">
                <i class="iconfont icon-qingdan"></i>
                <p class="rightNavbarTemplet-a-p">足迹</p>
            </a>
            <a href="" class="rightNavbarTemplet-a">
                <i class="iconfont icon-hyxiaoxi"></i>
                <p class="rightNavbarTemplet-a-p">消息</p>
            </a>
            <a href="" class="rightNavbarTemplet-a">
                <i class="iconfont icon-kefu1"></i>
                <p class="rightNavbarTemplet-a-p">客服</p>
            </a>
            <a href="" class="rightNavbarTemplet-a">
                <i class="iconfont icon-xiangshang"></i>
                <p class="rightNavbarTemplet-a-p">返回顶部</p>
            </a>
            <a href="" class="rightNavbarTemplet-a">
                <i class="iconfont icon-iconfontpencil"></i>
                <p class="rightNavbarTemplet-a-p">编辑</p>
            </a>
        </div>
    </div>
    <div class="leftnavbar" style="display: block;">
        <div class="leftnavbar-templete">
            <a href="#xie" class="">蟹系列</a>
        </div>
        <div class="leftnavbar-templete">
            <a href="#yu" class="">鱼系列</a>
        </div>
        <div class="leftnavbar-templete">
            <a href="#xia" class="">虾系列</a>
        </div>

        <div class="leftnavbar-templete">
            <a href="#zhu" class="">猪系列</a>
        </div>
        <div class="leftnavbar-templete">
            <a href="#zhu" class="">猪系列</a>
        </div>
        <div class="leftnavbar-templete">
            <a href="#yang" class="">羊系列</a>
        </div>
        <div class="leftnavbar-templete">
            <a href="#niu" class="">牛系列</a>
        </div>
        <div class="leftnavbar-templete">
            <a href="#jirou" class="">鸡系列</a>
        </div>
        <div class="leftnavbar-templete">
            <a href="#yazi" class="">鸭系列</a>
        </div>
        <div class="leftnavbar-templete">
            <a href="#wanzi" class="">火锅丸子</a>
        </div>
        <div class="leftnavbar-templete">
            <a href="#miandian" class="">面点系列</a>
        </div>
        <div class="leftnavbar-templete">
            <a href="#tiaoliao" class="">调料系列</a>
        </div>


    </div>
</header>
<main class="ycysx-main">
    <section class="w clearfix content-banner">
        <div class="content-banner-left">
            <div class="content-banner-left-top">
                <p>亿成生鲜商品分类</p>
            </div>
            <div class="content-banner-left-bottom">
                <ul class="menu-left-first-ul"></ul>
            </div>
        </div>
        <div class="content-banner-center">
            <div class="content-banner-center-arrows">
                <div class="left">
                    <
                </div>
                <div class="right">
                    >
                </div>
            </div>
            <ul class="content-banner-center-img"></ul>
            <ol class="content-banner-center-circle"></ol>
        </div>
        <div class="content-banner-right">
            <div class="content-banner-right-top">
                <div class="content-banner-right-top-avatar">
                    <%
                    if (login){
                    %>
                    <div class="" >
                        <a href="/userupdate" style="display: block ;margin-left: 20px">
                            <img  style=" width: 40px;height: 40px;float: left;margin: 5px 0 0 10px;" src="../avatar/<%= useravatar %>">
                        </a>
                        <span  style="margin-left: 10px">您好:<%= username %></span>
                        <a href="/userupdate" class="" style="margin-left: 10px">更改头像</a>
                        <a href="/userupdate" class="" style="margin-left: 10px;margin-top: 10px">更改密码</a>
                        <a href="/userupdate" class="" style="margin-left: 15px;margin-top: 10px">退出登录</a>
                    </div>
                    <%
                    }else {
                    %>
                    <a href="" class="content-banner-right-top-avatar-a"></a>
                    <span>Hi, 欢迎来到亿成!</span>
                    <a href="/loginregister">注册</a>
                    <a href="/loginregister">登录</a>
                    <%
                    }
                    %>
                </div>
                <div class="content-banner-right-top-member">
                    <a href="">新人福利</a>
                    <a href="">亿成会员</a>
                </div>
            </div>
            <div class="content-banner-right-center">
                <div>
                    <ul>
                        <li class="content-banner-right-center-cx">
                            <a href="">促销</a>
                        </li>
                        <li class="content-banner-right-center-gg">
                            <a href="">公告</a>
                        </li>
                        <li class="content-banner-right-center-gd">
                            <a href="">更多</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul class="content-banner-right-center-cx-list">
                        <li><a href="">生鲜满499减100</a></li>
                        <li><a href="">生鲜满499减100</a></li>
                        <li><a href="">生鲜满499减100</a></li>
                    </ul>
                    <ul class="content-banner-right-center-gg-list">
                        <li><a href="">能货到付款了</a></li>
                        <li><a href="">能货到付款了</a></li>
                        <li><a href="">能货到付款了</a></li>
                    </ul>
                </div>
            </div>
            <div class=" content-banner-right-bottom">
                <ul id="iconsprite">
                    <li class="lifeservi-icon1">
                        <a href="">
                            <i></i>
                            <span>话费</span>
                        </a>
                    </li>
                    <li class="lifeservi-icon1">
                        <a href="">
                            <i></i>
                            <span>机票</span>
                        </a>
                    </li>
                    <li class="lifeservi-icon1">
                        <a href="">
                            <i></i>
                            <span>酒店</span>
                        </a>
                    </li>
                    <li class="lifeservi-icon1">
                        <a href="">
                            <i></i>
                            <span>游戏</span>
                        </a>
                    </li>
                    <li class="lifeservi-icon1">
                        <a href="">
                            <i></i>
                            <span>企业购</span>
                        </a>
                    </li>
                    <li class="lifeservi-icon1">
                        <a href="">
                            <i></i>
                            <span>加油卡</span>
                        </a>
                    </li>
                    <li class="lifeservi-icon1">
                        <a href="">
                            <i></i>
                            <span>电影票</span>
                        </a>
                    </li>
                    <li class="lifeservi-icon1">
                        <a href="">
                            <i></i>
                            <span>火车票</span>
                        </a>
                    </li>
                    <li class="lifeservi-icon1">
                        <a href="">
                            <i></i>
                            <span>众筹</span>
                        </a>
                    </li>
                    <li class="lifeservi-icon1">
                        <a href="">
                            <i></i>
                            <span>理财</span>
                        </a>
                    </li>
                    <li class="lifeservi-icon1">
                        <a href="">
                            <i></i>
                            <span>礼品卡</span>
                        </a>
                    </li>
                    <li class="lifeservi-icon1">
                        <a href="">
                            <i></i>
                            <span>白条</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="w clearfix content-foods">
        <ul>
            <li>
                <i class="iconfont icon-shipinanquanicon"></i>
                <span class="firstspan-content-foods">食品安全</span>
                <span class="lastspan-content-foods">精选生鲜 严格质检</span>
            </li>
            <li>
                <i class="iconfont icon-quanchenglenglian"></i>
                <span class="firstspan-content-foods">全程冷链</span>
                <span class="lastspan-content-foods">自营物流 安全可控</span>
            </li>
            <li>
                <i class="iconfont icon-yudashuye "></i>
                <span class="firstspan-content-foods">鲜活天然</span>
                <span class="lastspan-content-foods">绿色生态 亿成精选</span>
            </li>
            <li>
                <i class="iconfont icon-cailanzi-"></i>
                <span class="firstspan-content-foods">产地直采</span>
                <span class="lastspan-content-foods">限定产源 质量保证</span>
            </li>
            <li>
                <i class="iconfont icon-shouhou"></i>
                <span class="firstspan-content-foods">无忧售后</span>
                <span class="lastspan-content-foods">优鲜赔 售后通道</span>
            </li>
        </ul>
        <div class=" time-preference">
            <div class="time-preference-a">
                <a  class="time-preference-morning">
                    <i class="iconfont icon-zaoshang-copy"></i>
                    <span class="time-preference-night-firstspan">早市预告</span>
                    <span class="time-preference-night-lastspan">10:00 开始</span>
                </a>
                <a  class="time-preference-moon">
                    <i class="iconfont icon-zhongwu"></i>
                    <span class="time-preference-night-firstspan">午市预告</span>
                    <span class="time-preference-night-lastspan">17:00 开始</span>
                </a>
                <a  class="time-preference-night">
                    <i class="iconfont icon-wanshangchangci"></i>
                    <span class="time-preference-night-firstspan">晚市抢鲜</span>
                    <span class="time-preference-night-lastspan">22:00开始</span>
                </a>
            </div>
            <div class="time-preference-countdown">
                <span>距离本场结束还有:</span>
                <div class="time-preference-countdown-hour">09:</div>
                <div class="time-preference-countdown-minute">45:</div>
                <div class="time-preference-countdown-minute-second">33</div>
            </div>
            <div class="mnngoods">
                <div class="mnngoods-one sk">
                    <div id="sk1"></div>
                </div>
                <div class="mnngoods-two sk">
                    <div id="sk2"></div>
                </div>
                <div class="mnngoods-three sk">
                    <div id="sk3"></div>
                </div>
            </div>
            <div class="time-preference-left" id="SKLeft">
                <i> < </i>
            </div>
            <div class="time-preference-right" id="SKRight">
                <i> > </i>
            </div>
            <div class="time-preference-bottom">
                <ol>
                    <li></li>
                    <li></li>
                    <li></li>
                </ol>
            </div>
        </div>
    </section>
    <section class="clearfix goods-list" >
        <div class="w goods-list-ycysx">
            <h3 class="goods-list-ycysx-title">
                亿<i>/</i>成<i>/</i>生<i>/</i>鲜<i>/</i>推<i>/</i>荐
            </h3>
            <p class="goods-list-ycysx-E">YCFRESH RECOMMEND</p>
        </div>
        <div class="w goods-list-div">
            <div class="goods-list-top">
                <div class="goods-list-top-left">
                    <div class="shangpindiv1">
                        <h4>鲜活螃蟹</h4>
                        <p class="goods-list-top-left-p">鲜活螃蟹，及时享受</p>
                        <div class="shangpindiv2" id="crabList"></div>
                        <div class="moreseafood"><a href="">更多螃蟹&nbsp&nbsp&nbsp></a></div>
                    </div>
                </div>
                <div class="goods-list-top-center">
                    <div class="goods-list-top-center-LR">
                        <div class="pLeft" id="crabLeft">
                            <
                        </div>
                        <div class="pRight" id="crabRight">
                            >
                        </div>
                    </div>
                    <ul id="crabUL" class="crabUL"></ul>
                    <ol id="crabOL" class="crabOL"></ol>
                </div>
                <div class="goods-list-top-right">
                    <img src="../ycysx/img/content/content_goods_list/right.jpg" alt="">
                </div>
            </div>
            <div class="goods-list-bottom" id="cradProductList">


            </div>
            <div class="goods-list-bottom-pinpai">
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/7.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/8.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/9.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/10.jpg"alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/11.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/12.jpg"alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/13.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/14.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/15.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/16.jpg" alt="">
                </a>
            </div>
        </div>
    </section>
    <section class="clearfix goods-list" >
        <div class="w goods-list-ycysx">
            <h3 class="goods-list-ycysx-title">
                亿<i>/</i>成<i>/</i>生<i>/</i>鲜<i>/</i>推<i>/</i>荐
            </h3>
            <p class="goods-list-ycysx-E">YCFRESH RECOMMEND</p>
        </div>
        <div class="w goods-list-div">
            <div class="goods-list-top">
                <div class="goods-list-top-left">
                    <div class="shangpindiv1" >
                        <h4>鲜活大虾</h4>
                        <p class="goods-list-top-left-p">鲜活大虾，及时享受</p>
                        <div class="shangpindiv2" id="shrimpList"></div>
                        <div class="moreseafood"><a href="">更多大虾&nbsp&nbsp&nbsp></a></div>
                    </div>
                </div>
                <div class="goods-list-top-center">
                    <div class="goods-list-top-center-LR">
                        <div class="pLeft" id="shrimpLeft">
                            <
                        </div>
                        <div class="pRight" id="shrimpRight">
                            >
                        </div>
                    </div>
                    <ul id="shrimpUL" class="shrimpUL"></ul>
                    <ol id="shrimpOL" class="shrimpOL"></ol>
                </div>
                <div class="goods-list-top-right">
                    <img src="../ycysx/img/content/content_goods_list/right.jpg" alt="">
                </div>
            </div>
            <div class="goods-list-bottom" id="shrimpProductList"></div>
            <div class="goods-list-bottom-pinpai">
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/7.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/8.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/9.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/10.jpg"alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/11.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/12.jpg"alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/13.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/14.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/15.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/16.jpg" alt="">
                </a>
            </div>
        </div>
    </section>
    <section class="clearfix goods-list" >
        <div class="w goods-list-ycysx">
            <h3 class="goods-list-ycysx-title">
                亿<i>/</i>成<i>/</i>生<i>/</i>鲜<i>/</i>推<i>/</i>荐
            </h3>
            <p class="goods-list-ycysx-E">YCFRESH RECOMMEND</p>
        </div>
        <div class="w goods-list-div">
            <div class="goods-list-top">
                <div class="goods-list-top-left">
                    <div class="shangpindiv1" >
                        <h4>鲜活海鱼</h4>
                        <p class="goods-list-top-left-p">鲜活海鱼，及时享受</p>
                        <div class="shangpindiv2" id="fishList"></div>
                        <div class="moreseafood"><a href="">更多海鱼&nbsp&nbsp&nbsp></a></div>
                    </div>
                </div>
                <div class="goods-list-top-center">
                    <div class="goods-list-top-center-LR">
                        <div class="pLeft" id="fishLeft">
                            <
                        </div>
                        <div class="pRight" id="fishRight">
                            >
                        </div>
                    </div>
                    <ul id="fishUL" class="fishUL"></ul>
                    <ol id="fishOL" class="fishOL"></ol>
                </div>
                <div class="goods-list-top-right">
                    <img src="../ycysx/img/content/content_goods_list/right.jpg" alt="">
                </div>
            </div>
            <div class="goods-list-bottom" id="fishProductList"></div>
            <div class="goods-list-bottom-pinpai">
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/7.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/8.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/9.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/10.jpg"alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/11.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/12.jpg"alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/13.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/14.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/15.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/16.jpg" alt="">
                </a>
            </div>
        </div>
    </section>
    <section class="clearfix goods-list" >
        <div class="w goods-list-ycysx">
            <h3 class="goods-list-ycysx-title">
                亿<i>/</i>成<i>/</i>生<i>/</i>鲜<i>/</i>推<i>/</i>荐
            </h3>
            <p class="goods-list-ycysx-E">YCFRESH RECOMMEND</p>
        </div>
        <div class="w goods-list-div">
            <div class="goods-list-top">
                <div class="goods-list-top-left">
                    <div class="shangpindiv1" >
                        <h4>鲜活鸭肉</h4>
                        <p class="goods-list-top-left-p">新鲜鸭肉，及时享受</p>
                        <div class="shangpindiv2" id="duckList"></div>
                        <div class="moreseafood"><a href="">更多鸭肉&nbsp&nbsp&nbsp></a></div>
                    </div>
                </div>
                <div class="goods-list-top-center">
                    <div class="goods-list-top-center-LR">
                        <div class="pLeft" id="duckLeft">
                            <
                        </div>
                        <div class="pRight" id="duckRight">
                            >
                        </div>
                    </div>
                    <ul id="duckUL" class="duckUL"></ul>
                    <ol id="duckOL" class="duckOL"></ol>
                </div>
                <div class="goods-list-top-right">
                    <img src="../ycysx/img/content/content_goods_list/right.jpg" alt="">
                </div>
            </div>
            <div class="goods-list-bottom" id="duckProductList"></div>
            <div class="goods-list-bottom-pinpai">
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/7.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/8.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/9.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/10.jpg"alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/11.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/12.jpg"alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/13.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/14.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/15.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/16.jpg" alt="">
                </a>
            </div>
        </div>
    </section>
    <section class="clearfix goods-list" >
        <div class="w goods-list-ycysx">
            <h3 class="goods-list-ycysx-title">
                亿<i>/</i>成<i>/</i>生<i>/</i>鲜<i>/</i>推<i>/</i>荐
            </h3>
            <p class="goods-list-ycysx-E">YCFRESH RECOMMEND</p>
        </div>
        <div class="w goods-list-div">
            <div class="goods-list-top">
                <div class="goods-list-top-left">
                    <div class="shangpindiv1" >
                        <h4>鲜活鸡肉</h4>
                        <p class="goods-list-top-left-p">鲜活鸡肉，及时享受</p>
                        <div class="shangpindiv2" id="chickenList"></div>
                        <div class="moreseafood"><a href="">更多鸡肉&nbsp&nbsp&nbsp></a></div>
                    </div>
                </div>
                <div class="goods-list-top-center">
                    <div class="goods-list-top-center-LR">
                        <div class="pLeft" id="chickenLeft">
                            <
                        </div>
                        <div class="pRight" id="chickenRight">
                            >
                        </div>
                    </div>
                    <ul id="chickenUL" class="chickenUL"></ul>
                    <ol id="chickenOL" class="chickenOL"></ol>
                </div>
                <div class="goods-list-top-right">
                    <img src="../ycysx/img/content/content_goods_list/right.jpg" alt="">
                </div>
            </div>
            <div class="goods-list-bottom" id="chickenProductList"></div>
            <div class="goods-list-bottom-pinpai">
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/7.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/8.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/9.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/10.jpg"alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/11.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/12.jpg"alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/13.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/14.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/15.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/16.jpg" alt="">
                </a>
            </div>
        </div>
    </section>
    <section class="clearfix goods-list" >
        <div class="w goods-list-ycysx">
            <h3 class="goods-list-ycysx-title">
                亿<i>/</i>成<i>/</i>生<i>/</i>鲜<i>/</i>推<i>/</i>荐
            </h3>
            <p class="goods-list-ycysx-E">YCFRESH RECOMMEND</p>
        </div>
        <div class="w goods-list-div">
            <div class="goods-list-top">
                <div class="goods-list-top-left">
                    <div class="shangpindiv1" >
                        <h4>新鲜猪肉</h4>
                        <p class="goods-list-top-left-p">鲜活猪肉，及时享受</p>
                        <div class="shangpindiv2" id="pigList"></div>
                        <div class="moreseafood"><a href="">更多猪肉&nbsp&nbsp&nbsp></a></div>
                    </div>
                </div>
                <div class="goods-list-top-center">
                    <div class="goods-list-top-center-LR">
                        <div class="pLeft" id="pigLeft">
                            <
                        </div>
                        <div class="pRight" id="pigRight">
                            >
                        </div>
                    </div>
                    <ul id="pigUL" class="pigUL"></ul>
                    <ol id="pigOL" class="pigOL"></ol>
                </div>
                <div class="goods-list-top-right">
                    <img src="../ycysx/img/content/content_goods_list/right.jpg" alt="">
                </div>
            </div>
            <div class="goods-list-bottom" id="pigProductList"></div>
            <div class="goods-list-bottom-pinpai">
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/7.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/8.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/9.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/10.jpg"alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/11.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/12.jpg"alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/13.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/14.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/15.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/16.jpg" alt="">
                </a>
            </div>
        </div>
    </section>
    <section class="clearfix goods-list" >
        <div class="w goods-list-ycysx">
            <h3 class="goods-list-ycysx-title">
                亿<i>/</i>成<i>/</i>生<i>/</i>鲜<i>/</i>推<i>/</i>荐
            </h3>
            <p class="goods-list-ycysx-E">YCFRESH RECOMMEND</p>
        </div>
        <div class="w goods-list-div">
            <div class="goods-list-top">
                <div class="goods-list-top-left">
                    <div class="shangpindiv1" >
                        <h4>新鲜牛肉</h4>
                        <p class="goods-list-top-left-p">鲜活牛肉，及时享受</p>
                        <div class="shangpindiv2" id="cowList"></div>
                        <div class="moreseafood"><a href="">更多牛肉&nbsp&nbsp&nbsp></a></div>
                    </div>
                </div>
                <div class="goods-list-top-center">
                    <div class="goods-list-top-center-LR">
                        <div class="pLeft" id="cowLeft">
                            <
                        </div>
                        <div class="pRight" id="cowRight">
                            >
                        </div>
                    </div>
                    <ul id="cowUL" class="cowUL"></ul>
                    <ol id="cowOL" class="cowOL"></ol>
                </div>
                <div class="goods-list-top-right">
                    <img src="../ycysx/img/content/content_goods_list/right.jpg" alt="">
                </div>
            </div>
            <div class="goods-list-bottom" id="cowProductList"></div>
            <div class="goods-list-bottom-pinpai">
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/7.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/8.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/9.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/10.jpg"alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/11.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/12.jpg"alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/13.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/14.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/15.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/16.jpg" alt="">
                </a>
            </div>
        </div>
    </section>
    <section class="clearfix goods-list" >
        <div class="w goods-list-ycysx">
            <h3 class="goods-list-ycysx-title">
                亿<i>/</i>成<i>/</i>生<i>/</i>鲜<i>/</i>推<i>/</i>荐
            </h3>
            <p class="goods-list-ycysx-E">YCFRESH RECOMMEND</p>
        </div>
        <div class="w goods-list-div">
            <div class="goods-list-top">
                <div class="goods-list-top-left">
                    <div class="shangpindiv1" >
                        <h4>新鲜羊肉</h4>
                        <p class="goods-list-top-left-p">鲜活羊肉，及时享受</p>
                        <div class="shangpindiv2" id="sheepList"></div>
                        <div class="moreseafood"><a href="">更多羊肉&nbsp&nbsp&nbsp></a></div>
                    </div>
                </div>
                <div class="goods-list-top-center">
                    <div class="goods-list-top-center-LR">
                        <div class="pLeft" id=" sheepLeft">
                            <
                        </div>
                        <div class="pRight" id="sheepRight">
                            >
                        </div>
                    </div>
                    <ul id="sheepUL" class="sheepUL"></ul>
                    <ol id="sheepOL" class="sheepOL"></ol>
                </div>
                <div class="goods-list-top-right">
                    <img src="../ycysx/img/content/content_goods_list/right.jpg" alt="">
                </div>
            </div>
            <div class="goods-list-bottom" id="sheepProductList"></div>
            <div class="goods-list-bottom-pinpai">
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/7.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/8.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/9.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/10.jpg"alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/11.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/12.jpg"alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/13.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/14.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/15.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/16.jpg" alt="">
                </a>
            </div>
        </div>
    </section>
    <section class="clearfix goods-list" >
        <div class="w goods-list-ycysx">
            <h3 class="goods-list-ycysx-title">
                亿<i>/</i>成<i>/</i>生<i>/</i>鲜<i>/</i>推<i>/</i>荐
            </h3>
            <p class="goods-list-ycysx-E">YCFRESH RECOMMEND</p>
        </div>
        <div class="w goods-list-div">
            <div class="goods-list-top">
                <div class="goods-list-top-left">
                    <div class="shangpindiv1" >
                        <h4>新鲜面点</h4>
                        <p class="goods-list-top-left-p">鲜活面点，及时享受</p>
                        <div class="shangpindiv2" id="noodleList"></div>
                        <div class="moreseafood"><a href="">更多面点&nbsp&nbsp&nbsp></a></div>
                    </div>
                </div>
                <div class="goods-list-top-center">
                    <div class="goods-list-top-center-LR">
                        <div class="pLeft" id=" noodleLeft">
                            <
                        </div>
                        <div class="pRight" id="noodleRight">
                            >
                        </div>
                    </div>
                    <ul id="noodleUL" class="noodleUL"></ul>
                    <ol id="noodleOL" class="noodleOL"></ol>
                </div>
                <div class="goods-list-top-right">
                    <img src="../ycysx/img/content/content_goods_list/right.jpg" alt="">
                </div>
            </div>
            <div class="goods-list-bottom" id="noodleProductList"></div>
            <div class="goods-list-bottom-pinpai">
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/7.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/8.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/9.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/10.jpg"alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/11.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/12.jpg"alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/13.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/14.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/15.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/16.jpg" alt="">
                </a>
            </div>
        </div>
    </section>
    <section class="clearfix goods-list" >
        <div class="w goods-list-ycysx">
            <h3 class="goods-list-ycysx-title">
                亿<i>/</i>成<i>/</i>生<i>/</i>鲜<i>/</i>推<i>/</i>荐
            </h3>
            <p class="goods-list-ycysx-E">YCFRESH RECOMMEND</p>
        </div>
        <div class="w goods-list-div">
            <div class="goods-list-top">
                <div class="goods-list-top-left">
                    <div class="shangpindiv1" >
                        <h4>新鲜调料</h4>
                        <p class="goods-list-top-left-p">鲜活调料，及时享受</p>
                        <div class="shangpindiv2" id="TWLList"></div>
                        <div class="moreseafood"><a href="">更多调料&nbsp&nbsp&nbsp></a></div>
                    </div>
                </div>
                <div class="goods-list-top-center">
                    <div class="goods-list-top-center-LR">
                        <div class="pLeft" id=" TWLLeft">
                            <
                        </div>
                        <div class="pRight" id="TWLRight">
                            >
                        </div>
                    </div>
                    <ul id="TWLUL" class="TWLUL"></ul>
                    <ol id="TWLOL" class="TWLOL"></ol>
                </div>
                <div class="goods-list-top-right">
                    <img src="../ycysx/img/content/content_goods_list/right.jpg" alt="">
                </div>
            </div>
            <div class="goods-list-bottom" id="TWLProductList"></div>
            <div class="goods-list-bottom-pinpai">
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/7.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/8.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/9.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/10.jpg"alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/11.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/12.jpg"alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/13.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/14.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/15.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/16.jpg" alt="">
                </a>
            </div>
        </div>
    </section>
    <section class="clearfix goods-list" >
        <div class="w goods-list-ycysx">
            <h3 class="goods-list-ycysx-title">
                亿<i>/</i>成<i>/</i>生<i>/</i>鲜<i>/</i>推<i>/</i>荐
            </h3>
            <p class="goods-list-ycysx-E">YCFRESH RECOMMEND</p>
        </div>
        <div class="w goods-list-div">
            <div class="goods-list-top">
                <div class="goods-list-top-left">
                    <div class="shangpindiv1" >
                        <h4>精选火锅丸</h4>
                        <p class="goods-list-top-left-p">精选火锅丸，及时享受</p>
                        <div class="shangpindiv2" id="HGWList"></div>
                        <div class="moreseafood"><a href="">更多调料&nbsp&nbsp&nbsp></a></div>
                    </div>
                </div>
                <div class="goods-list-top-center">
                    <div class="goods-list-top-center-LR">
                        <div class="pLeft" id=" HGWLeft">
                            <
                        </div>
                        <div class="pRight" id="HGWRight">
                            >
                        </div>
                    </div>
                    <ul id="HGWUL" class="HGWUL"></ul>
                    <ol id="HGWOL" class="HGWOL"></ol>
                </div>
                <div class="goods-list-top-right">
                    <img src="../ycysx/img/content/content_goods_list/right.jpg" alt="">
                </div>
            </div>
            <div class="goods-list-bottom" id="HGWProductList"></div>
            <div class="goods-list-bottom-pinpai">
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/7.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/8.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/9.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/10.jpg"alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/11.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/12.jpg"alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/13.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/14.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/15.jpg" alt="">
                </a>
                <a href="">
                    <img src="../ycysx/img/content/content_goods_list/16.jpg" alt="">
                </a>
            </div>
        </div>
    </section>
    <section class="clearfix customer-evaluate ">
        <div class="UserSayLR">
            <div id="UserSayLR-l"><</div>
            <div id="UserSayLR-r">></div>
        </div>
        <div class="w customer-evaluate-div">
            <div class="customer-evaluate-main">
                <div class="customer-evaluate-main-top">
                    <h3 class="fresh_mod_head_title">&nbsp;食／鲜／者／说</h3>
                </div>
                <div class="customer-evaluate-main-bottom">
                    <div class="customer-evaluate-main-bottom-div">

                        <div class="UserSay-div" id="u1" ></div>
                        <div class="UserSay-div" id="u2" style="display: none"></div>
                        <div class="UserSay-div" id="u3" style="display: none"></div>
                    </div>
                </div>
            </div>
        </div>
        <ol class="UserSay-ol"></ol>
    </section>
</main>
<%  include ycysxfooter.ejs %>
<script type="text/javascript" src="../lib/jquery.min.js"></script>
<script type="text/javascript" src="../ycysx/js/ycysxindex.js"></script>
</body>
</html>